<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>关注</title>
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/css/top.css">
    <link rel="stylesheet" href="../../node_modules/css/attention.css">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/at-ui/dist/at.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <div class="row top-header">
        <div class="col-md-3 logo">
            <img src="../../node_modules/images/logo.png" class="img-up">
        </div>
        <div class="col-md-9">
            <at-input v-model="inputValue4" placeholder="请输入内容" append-button class="top-search">
                <template slot="append">
                    <i class="icon icon-search"></i>
                </template>
            </at-input>
        </div>
        <div class="col-md-7 col-md-offset-5">
            <a href="../../Index.html" class="top-font-size"><i class="icon icon-home"></i>首页</a>
            <a href="../../user/circle/circle.html" class="top-font-size"><i class="icon icon-aperture"></i>圈子</a>
            <a href="../../user/letter/session.html" class="top-font-size"><i class="icon icon-mail"></i>私信</a>
            <a href="../../user/user-center/personal.html" class="top-font-size"><i class="icon icon-user"></i>用户</a>
        </div>
    </div>

    <div class="create-margin">
        <div class="row circle_frame">
            <div class="col-md-3"></div>
            <div class="col-md-18">

                <div class="first_box flex-center">
                    <img :src="src" class="icon-head"><br>
                    <span class="nick_name" v-cloak>{{userName}}</span><br>
                </div>

                <div class="row second_box">
                    <at-menu mode="horizontal" active-name="0" class="col-md-24">
                        <at-menu-item name="1" class="col-md-offset-5">我的主页</at-menu-item>
                        <at-menu-item name="2" class="col-md-offset-8">我的相册</at-menu-item>
                    </at-menu>
                </div>

                <div class="third_box">
                    <div class="row">
                        <div class="text_481X1" v-cloak>全部关注&nbsp;{{attentionNum}}</div>
                    </div>
                    <div class="box_480X1"></div>  <!--水平分隔线-->

                    <div class="member_box row">
                        <ul class="member_ul">
                            <li class="member_li S_bg1 row" v-for="(item,index) in memberList">
                                <img :src="item.memberAvatar" alt="关注用户头像" class="member_avatar">
                                <div class="box_111X1"></div>
                                <div class="member_info">
                                    <span class="text_96X1">{{item.bloggerName}}</span>
                                    <p class="member_attention icon icon-check">已关注</p>
                                    <p class="member_word">生日：{{item.birthday}}</p>
                                    <p class="member_word">地址：{{item.address}}</p>
                                    <p class="member_word">性别：{{item.sex}}</p>
                                    <p class="member_word">感情状况：{{item.isSingle}}</p>
                                </div>
                                <at-button type="primary" class="session_btn" @click="gotoSession">私信</at-button>
                                <at-button class="cancel_btn" @click="cancelAttention(index)">取消关注</at-button>
                            </li>
                        </ul>
                    </div>

                    <div class="row flex-center">
                        <at-pagination :total="100" class="pagination"></at-pagination>
                    </div>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            inputValue4:'',
            src:'',
            userName:'',
            attentionNum:'',
            memberList:[],
            pageNum:'1',
            pageSize:'10'
        },
        methods:{
            gotoSession:function () {
                window.location.href = "../../user/letter/session.html";
                // this.$router.replace({path:'../../user/letter/session.html'})
                // this.$router.push({path:'../../user/letter/session.html'})
            },
            cancelAttention:function (index) {
                this.memberList[index].splice(index,0);
            }
        },
        created() {
            //展示自己头像和名字
            $.ajax({
                url:"/userInfo/getUserAvatarAndRelation",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0){
                        vm.src = result.data.avatarUrl;
                        vm.userName = result.data.userName;
                    }
                }
            });

            //查看自己关注接口
            $.ajax({
                url:"/userInfo/getAllBloggerSelf",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                data:{
                    page: this.pageNum,
                    size: this.pageSize
                },
                success:function (result) {
                    if(result.code == 0){
                        vm.attentionNum = result.count;
                        for(i=0;i<result.count;i++){
                            vm.memberList[i] = result.data[i];
                            console.log(result.data[i].sex)
                            //判断性别
                            if(result.data[i].sex == 0){
                                vm.memberList[i].sex = "保密";
                            }else if (result.data[i].sex == 1) {
                                vm.memberList[i].sex = "男";
                            }else if (result.data[i].sex == 2) {
                                vm.memberList[i].sex = "女";
                            }

                            //判断感情状况
                            if(result.data[i].isSingle == 0){
                                vm.memberList[i].isSingle = "保密";
                            }else if(result.data[i].isSingle == 1){
                                vm.memberList[i].isSingle = "单身";
                            }else if(result.data[i].isSingle == 2){
                                vm.memberList[i].isSingle = "恋爱";
                            }
                        }
                    }
                }
            })
        }
    })

</script>
</html>