<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>我的关注页</title>
    <link rel="stylesheet" href="../../node_modules/css/navbar.css">
    <link rel="stylesheet" href="../../node_modules/css/personal.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <script src="../../node_modules/bootstrap/js/bootstrap.js"></script>
    <style>
        /*我的主页、我的相册*/
        .second_box{
            height: 56px;
            line-height: 56px;
            color: #397F7C;
            font-size: 18px;
            font-weight: bold;
            font-family: 微软雅黑;
            letter-spacing: 8px;
            background-color: white;
        }

        .member_avatar{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #CCCCCC;
        }

        .member_word{
            letter-spacing: 2px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<!---------------导航条---------------->
<header id="circle_navbar">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar_c fixed-top">
            <div class="container-fluid">
                <!------------Logo图标------->
                <a class="navbar-brand col-xs-3 col-md-2" href="index.html">
                    <img src="../../node_modules/images/logo.png" class="img-fluid">
                </a>
                <!------------搜索框----------->
                <form class="form-inline input-group input-group-xs col-xs-8 col-md-4">
                    <input class="form-control" type="search" v-model="inputValue" placeholder="大家正在搜" aria-label="Search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" @click="searchBlog"><i class="zi zi_search"></i></span>
                    </div>
                </form>

                <!------------汉堡按钮------------>
                <button class="navbar-toggler col-xs-2 col-md-1 ml-5" type="button" data-toggle="collapse"
                        data-target="#circle_nav" aria-controls="circle_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width: 25px;margin-left: 5px;margin-right: 5px"></span>
                </button>

                <!------------六个导航按钮--------->
                <div class="collapse navbar-collapse col-lg-6" id="circle_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="userIndex.html"><i class="icon icon-home"></i>首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../circle/circleRank.html"><i class="icon icon-aperture"></i>圈子</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../letter/session.html"><i class="icon icon-mail"></i>私信</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../user-center/personal.html"><i class="icon icon-user"></i>用户</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="newRegister.html" target="_blank">注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModalT">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 导航条模态框 -->
        <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">账号登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mr-3 input-group d-flex align-items-center mb-2">
                            <i class="icon icon-user mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="text" placeholder="请输入账号" onclick="this.placeholder='' " v-model="loginName">
                        </div>
                        <div class="mr-3 input-group d-flex align-items-center mb-1">
                            <i class="icon icon-lock mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="password" placeholder="请输入密码" onclick="this.placeholder='' " v-model="password">
                        </div>
                        <a href="retrieve.html" target="_blank" class="d-flex flex-end">忘记密码？</a>
                        <button type="button" class="btn btn-block bg-info mt-2" @click="login">立即登录</button>

                        <div class="row ml-2">
                            <span style="font-size: 14px">还没有账号？<a href="newRegister.html" target="_blank" style="color: #c7254e">立刻注册</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid">-->
    <!--<iframe id="headerFrame" name="headerFrame" width="100%" src="../../navbar.html" frameborder="0" scrolling="no"></iframe>-->
    <!--</div>-->
</header>

<section id="personal_box" class="container-fluid p-0 d-flex justify-content-center">
    <div class="col-md-9" id="setting_info">

        <div class="first_box flex-center">
            <img :src="src" class="icon-head"><br>
            <span class="nick_name" v-cloak>{{userName}}</span>
        </div>

        <div class="second_box row flex-center no-gutters">我的关注页</div>

        <div class="no-gutters mt-3 shadow p-3 bg-white">
            <b class="row pb-2 border-bottom text-muted no-gutters" v-cloak>全部关注&nbsp;{{attentionNum}}</b>

            <div class="no-gutters">
                <ul class="row d-flex justify-content-between no-gutters pr-4 pr-md-0">
                    <li class="bg-light col-12 col-md-5 m-3 d-flex align-items-center pl-2" v-for="(item,index) in memberList">
                        <img :src="item.avatarUrl" alt="关注用户头像" class="member_avatar">
                        <div class="border-left m-3 pl-2">
                            <b>{{item.bloggerName}}</b>
                            <p class="mt-2 mb-2 icon icon-check">已关注</p>
                            <p class="member_word mb-0">生日：{{item.birthday}}</p>
                            <p class="member_word mb-0">地址：{{item.address}}</p>
                            <p class="member_word mb-0">性别：{{item.sex}}</p>
                            <p class="member_word mb-0">感情状况：{{item.isSingle}}</p>
                        </div>
                        <div class="d-flex flex-column float-right">
                            <button type="button" class="btn btn-primary p-0 session_btn" @click="sendSession(index)"
                                    style="font-size: 14px">私信</button>
                            <button type="button" class="btn btn-secondary p-1 mt-3 cancel_btn"
                                    @click="addConcernOrSub($event,item.bloggerId)" style="font-size: 14px">取消关注</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

</body>
<!--导航条搜索登录功能vm1-->
<script>
    let vm1 = new Vue({
        el: '#circle_navbar',
        data: {
            inputValue: '',
            loginName: '',
            password: ''
        },methods:{
            //搜索功能
            searchBlog(){
                if (this.inputValue==''){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("搜索不能为空");
                    })
                }else {
                    window.location.href = "/user/blog/blog.html?content=" + this.inputValue
                }
            },

            //登录
            login:function () {
                if (this.loginName==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机/用户名/邮箱！");
                    })
                }else if (this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入密码！");
                    })
                }else{
                    $.ajax({
                        url: "/userLogin/login",
                        type: "post",
                        data: {
                            loginName: this.loginName,
                            password: this.password,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆成功！");
                                });
                                window.location.href = "/user/index/userIndex.html";
                                $.cookie("token", result.data.token, {path: "/"});
                            } else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆失败！");
                                })
                            }
                        }
                    })
                }
            }
        }

    });
</script>
<script>
    var vm = new Vue({
        el: '#personal_box',
        data:{
            src:'',
            userName:'',
            attentionNum:'',
            memberList:[],
            pageNum:'1',
            pageSize:'1000'
        },
        methods:{
            sendSession:function(index){
                var userName = vm.memberList[index].bloggerName;
                window.location.href="/user/letter/session.html?userName="+ userName;
            },
            // del:function (index) {
            //     this.memberList.splice(index,0);
            // },
            addConcernOrSub(e,userId) {
                $.ajax({
                    url:"/userInfo/addConcernOrSub",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    dataType:"json",
                    data:{
                        userId: userId
                    },
                    success:function (result) {
                        if (result.code == 0){
                            e.target.innerHTML= '已关注';
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("关注成功！");
                            })
                        }else{
                            e.target.innerHTML = '取消关注';
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("取消关注!");
                            })
                        }
                    },error:function () {
                        layui.use('layer',function() {
                            var layer = layui.layer;
                            layer.msg("请登录！");
                        })
                        setTimeout(function () {
                            // window.location.href="../../index.html";
                        },1000)
                    }
                })
            },
        },
        created() {
            //展示自己头像和名字
            $.ajax({
                url:"/userInfo/getUserAvatarAndRelation",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0){
                        vm.src = result.data.avatarUrl;
                        vm.userName = result.data.userName;
                    }
                }
            });

            //查看自己关注接口
            $.ajax({
                url:"/userInfo/getAllBloggerSelf",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                data:{
                    page: this.pageNum,
                    size: this.pageSize
                },
                success:function (result) {
                    if(result.code == 0){
                        vm.attentionNum = result.count;
                        for(i=0;i<result.count;i++){
                            vm.memberList[i] = result.data[i];
                            // console.log(result.data[i].bloggerId)
                            //判断性别
                            if(result.data[i].sex == 0){
                                vm.memberList[i].sex = "保密";
                            }else if (result.data[i].sex == 1) {
                                vm.memberList[i].sex = "男";
                            }else if (result.data[i].sex == 2) {
                                vm.memberList[i].sex = "女";
                            }

                            //判断感情状况
                            if(result.data[i].isSingle == 0){
                                vm.memberList[i].isSingle = "保密";
                            }else if(result.data[i].isSingle == 1){
                                vm.memberList[i].isSingle = "单身";
                            }else if(result.data[i].isSingle == 2){
                                vm.memberList[i].isSingle = "恋爱";
                            }
                        }
                    }
                }
            })
        }
    })

</script>
</html>