<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>关注</title>
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/css/top.css">
    <link rel="stylesheet" href="../../node_modules/css/attention.css">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/at-ui/dist/at.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <div class="row top-header">
        <div class="col-md-3 logo">
            <img src="../../node_modules/images/logo.png" class="img-up">
        </div>
        <div class="col-md-9">
            <at-input v-model="inputValue4" placeholder="请输入内容" append-button class="top-search">
                <template slot="append">
                    <i class="icon icon-search"></i>
                </template>
            </at-input>
        </div>
        <div class="col-md-7 col-md-offset-5">
            <at-menu mode="horizontal" active-name="0">
                <at-menu-item name="1"><i class="icon icon-home"></i>首页</at-menu-item>
                <at-menu-item name="2"><i class="icon icon-aperture"></i>圈子</at-menu-item>
                <at-menu-item name="3"><i class="icon icon-mail"></i>私信</at-menu-item>
                <at-menu-item name="4"><i class="icon icon-user"></i>用户</at-menu-item>
            </at-menu>
        </div>
    </div>

    <div class="create-margin">
        <div class="row circle_frame">
            <div class="col-md-3"></div>
            <div class="col-md-18">

                <div class="first_box flex-center">
                    <img :src="src" class="icon-head"><br>
                    <span class="nick_name" v-cloak>{{userName}}</span><br>
                </div>

                <div class="row second_box">
                    <at-menu mode="horizontal" active-name="0" class="col-md-24">
                        <at-menu-item name="1" class="col-md-offset-5">我的主页</at-menu-item>
                        <at-menu-item name="2" class="col-md-offset-8">我的相册</at-menu-item>
                    </at-menu>
                </div>

                <div class="third_box">
                    <div class="row">
                        <div class="text_481X1" v-cloak>全部关注&nbsp;{{attentionNum}}</div>
                    </div>
                    <div class="box_480X1"></div>  <!--水平分隔线-->

                    <div class="member_box row">
                        <ul class="member_ul">
                            <li class="member_li S_bg1 row" v-for="(item,index) in memberList">
                                <img :src="item.memberAvatar" alt="关注用户头像" class="member_avatar">
                                <div class="box_111X1"></div>
                                <div class="member_info">
                                    <span class="text_96X1">{{item.bloggerName}}</span>
                                    <p class="member_attention icon icon-check">已关注</p>
                                    <p class="member_word">生日：{{item.birthday}}</p>
                                    <p class="member_word">地址：{{item.address}}</p>
                                    <p class="member_word">性别：{{item.sex}}</p>
                                    <p class="member_word">感情状况：{{item.isSingle}}</p>
                                </div>
                                <at-button type="primary" class="session_btn">私信</at-button>
                                <at-button class="cancel_btn">取消关注</at-button>
                            </li>
                        </ul>
                    </div>

                    <div class="row flex-center">
                        <at-pagination :total="100" class="pagination"></at-pagination>
                    </div>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            inputValue4:'',
            src:'',
            userName:'',
            attentionNum:'',
            memberList:[]
        },
        created() {
            //展示自己头像和名字
            $.ajax({
                url:"/userInfo/getUserAvatarAndRelation",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0){
                        vm.src = result.data.avatarUrl;
                        vm.userName = result.data.userName;
                        console.log(result.data.avatarUrl)
                    }
                }
            })
            //查看自己关注接口
            $.ajax({
                url:"/userInfo/getAllBloggerSelf",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0){
                        vm.attentionNum = result.count;
                        vm.memberList = result.data;
                        console.log(result.count)
                    }
                }
            })
        }
    })

</script>
</html>