<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>粉丝</title>
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/css/top.css">
    <link rel="stylesheet" href="../../node_modules/css/fans.css">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/at-ui/dist/at.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <div class="row top-header">
        <div class="col-md-3 logo">
            <img src="../../node_modules/images/logo.png" class="img-up">
        </div>
        <div class="col-md-9">
            <at-input v-model="inputValue4" placeholder="请输入内容" append-button class="top-search">
                <template slot="append">
                    <i class="icon icon-search"></i>
                </template>
            </at-input>
        </div>
        <div class="col-md-7 col-md-offset-5">
            <a href="/user/index/userIndex.html" class="top-font-size"><i class="icon icon-home"></i>首页</a>
            <a href="../../user/circle/circleRank.html" class="top-font-size"><i class="icon icon-aperture"></i>圈子</a>
            <a href="../../user/letter/session.html" class="top-font-size"><i class="icon icon-mail"></i>私信</a>
            <a href="../../user/user-center/personal.html" class="top-font-size"><i class="icon icon-user"></i>用户</a>
        </div>
    </div>

    <div class="create-margin">
        <div class="row circle_frame">
            <div class="col-md-3"></div>
            <div class="col-md-18">

                <div class="first_box flex-center">
                    <img :src="src" class="icon-head"><br>
                    <span class="nick_name" v-cloak>{{userName}}</span><br>
                </div>

                <div class="row second_box flex-center">
                    我的粉丝页
                    <!--<at-menu mode="horizontal" active-name="0" class="col-md-24">-->
                        <!--<at-menu-item name="1" class="col-md-offset-5">我的主页</at-menu-item>-->
                        <!--&lt;!&ndash;<at-menu-item name="2" class="col-md-offset-8">我的相册</at-menu-item>&ndash;&gt;-->
                    <!--</at-menu>-->
                </div>

                <div class="third_box">
                    <div class="row">
                        <div class="text_481X1" v-cloak>粉丝&nbsp;{{fansNum}}</div>
                    </div>
                    <div class="box_480X1"></div>  <!--水平分隔线-->

                    <div class="fans_card" v-for="(item,index) in fansList">
                        <div class="personal_box row">
                            <img :src="item.avatarUrl" class="user_img">
                            <div class="user_info col-md-15">
                                <p class="user_nickname" v-cloak>{{item.fansName}}</p>
                                <p class="user_item" v-cloak>生日 {{item.birthday}}</p>
                                <p class="user_item" v-cloak>地址 {{item.address}}</p>
                                <p class="user_item" v-cloak>性别 {{item.sex}}</p>
                                <p class="user_item" v-cloak>感情状况 {{item.isSingle}}</p>
                            </div>
                            <div class="focus_btn col-md-2">
                                <a href="../../user/letter/session.html"><at-button type="warning">私信</at-button></a>
                            </div>
                            <div class="concern_btn col-md-3">
                                <a id="tag_box1" @click="addConcernOrSub($event,item.fansId)"><span>x</span></a>
                            </div>
<!--                            <div class="select_more">-->
<!--                                <at-dropdown @on-dropdown-command="handleCommand">-->
<!--                                    <i class="icon icon-list"></i>-->
<!--                                    <at-dropdown-menu slot="menu">-->
<!--                                        <at-dropdown-item name="session" href="../../user/letter/session.html">私信</at-dropdown-item>-->
<!--                                        <at-dropdown-item>悄悄关注</at-dropdown-item>-->
<!--                                        <at-dropdown-item>分享到微博</at-dropdown-item>-->
<!--                                        <at-dropdown-item>移除粉丝</at-dropdown-item>-->
<!--                                        <at-dropdown-item>加入黑名单</at-dropdown-item>-->
<!--                                        <at-dropdown-item>投诉他</at-dropdown-item>-->
<!--                                    </at-dropdown-menu>-->
<!--                                </at-dropdown>-->
<!--                            </div>-->
                        </div>

                    </div>

                    <div class="row flex-center">
                        <at-pagination :total="100" class="pagination"></at-pagination>
                    </div>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            inputValue4:'',
            src:'',
            userName:'',
            fansNum: '',
            fansList:[],
            pageNum:'1',
            pageSize:'10',
            isAttention:''
        },
        methods:{
            addConcernOrSub(e,userId) {
                $.ajax({
                    url:"/userInfo/addConcernOrSub",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    dataType:"json",
                    data:{
                        userId: userId
                    },
                    success:function (result) {
                        if (result.code == 0){
                            e.target.innerHTML= '已关注';
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("关注成功！");
                            })
                        }else{
                            e.target.innerHTML = '未关注';
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("取消关注!");
                            })
                        }
                    },error:function () {
                        layui.use('layer',function() {
                            var layer = layui.layer;
                            layer.msg("请登录！");
                        })
                        setTimeout(function () {
                            window.location.href="../../index.html";
                        },1000)
                    }
                })
            },ifConcern(userId){
                $.ajax({
                    url:"/userInfo/ifConcern",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    dataType:"json",
                    data:{
                        userId: userId
                    },
                    success:function (result) {
                        if (result.code == 0){
                            vm.isAttention = "已关注"
                        } else {
                            vm.isAttention = "未关注"
                        }
                    },error:function () {
                        vm.isAttention = "未关注"
                    }
                })
            }
        },
        created() {
            //展示自己头像和名字
            $.ajax({
                url:"/userInfo/getUserAvatarAndRelation",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0){
                        vm.src = result.data.avatarUrl;
                        vm.userName = result.data.userName;
                    }
                }
            })

            //展示自己粉丝信息
            $.ajax({
                url:"/userInfo/getAllFansSelf",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                data:{
                    page: this.pageNum,
                    size: this.pageSize
                },
                success:function (result) {
                    if(result.code == 0){
                        vm.fansNum = result.count;
                        for(i=0;i<result.count;i++) {
                            vm.fansList[i] = result.data[i];
                            //判断性别
                            if(result.data[i].sex == 0){
                                vm.fansList[i].sex = "保密";
                            }else if (result.data[i].sex == 1) {
                                vm.fansList[i].sex = "男";
                            }else if (result.data[i].sex == 2) {
                                vm.fansList[i].sex = "女";
                            }

                            //判断感情状况
                            if(result.data[i].isSingle == 0){
                                vm.fansList[i].isSingle = "保密";
                            }else if(result.data[i].isSingle == 1){
                                vm.fansList[i].isSingle = "单身";
                            }else if(result.data[i].isSingle == 2){
                                vm.fansList[i].isSingle = "恋爱";
                            }
                            vm.ifConcern(result.data[i].fansId);

                        }
                    }
                }
            })

        }
    })
</script>
</html>