<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>其他用户界面</title>
    <link rel="stylesheet" href="../../node_modules/css/navbar.css">
    <link rel="stylesheet" href="../../node_modules/css/footer.css">
    <link rel="stylesheet" href="../../node_modules/css/personal.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <script src="../../node_modules/bootstrap/js/bootstrap.js"></script>
    <style>
        .second_box{
            height: 56px;
            line-height: 56px;
            color: #999999;
            font-size: 16px;
            font-weight: bold;
            font-family: "Microsoft YaHei";
            background-color: white;
        }

        .second_box b{
            letter-spacing: 5px;
        }

        /*全部、原创的导航条*/
        .nav_bar{
            height: 38px;
            margin-top: 15px;
            border-radius: 5px;
            background-color: #ECECEC;
            line-height: 38px;
            color: #5B89F8;
            font-size: 16px;
            font-weight: bold;
            font-family: "Microsoft YaHei";
        }

        .nav_bar b{
            letter-spacing: 10px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<!---------------导航条---------------->
<header id="circle_navbar">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar_c fixed-top">
            <div class="container-fluid">
                <!------------Logo图标------->
                <a class="navbar-brand col-xs-3 col-md-2" href="../index/index.html">
                    <img src="../../node_modules/images/logo.png" class="img-fluid">
                </a>
                <!------------搜索框----------->
                <form class="form-inline input-group input-group-xs col-xs-8 col-md-4">
                    <input class="form-control" type="search" v-model="inputValue" placeholder="大家正在搜" aria-label="Search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" @click="searchBlog"><i class="zi zi_search"></i></span>
                    </div>
                </form>

                <!------------汉堡按钮------------>
                <button class="navbar-toggler col-xs-2 col-md-1 ml-5" type="button" data-toggle="collapse"
                        data-target="#circle_nav" aria-controls="circle_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width: 25px;margin-left: 5px;margin-right: 5px"></span>
                </button>

                <!------------六个导航按钮--------->
                <div class="collapse navbar-collapse col-lg-6" id="circle_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index/userIndex.html"><i class="icon icon-home"></i>首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../circle/circleRank.html"><i class="icon icon-aperture"></i>圈子</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../letter/session.html"><i class="icon icon-mail"></i>私信</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../user-center/personal.html"><i class="icon icon-user"></i>用户</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index/register.html" target="_blank">注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModalT">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 导航条模态框 -->
        <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">账号登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mr-3 input-group d-flex align-items-center mb-2">
                            <i class="icon icon-user mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="text" placeholder="请输入账号" onclick="this.placeholder='' " v-model="loginName">
                        </div>
                        <div class="mr-3 input-group d-flex align-items-center mb-1">
                            <i class="icon icon-lock mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="password" placeholder="请输入密码" onclick="this.placeholder='' " v-model="password">
                        </div>
                        <a href="../index/retrieve.html" target="_blank" class="d-flex flex-end">忘记密码？</a>
                        <button type="button" class="btn btn-block bg-info mt-2" @click="login">立即登录</button>

                        <div class="row ml-2">
                            <span style="font-size: 14px">还没有账号？<a href="../index/register.html" target="_blank" style="color: #c7254e">立刻注册</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="personal_box" class="container-fluid p-0 d-flex justify-content-center">
    <div class="border col-md-9" id="setting_info">

        <div class="first_box flex-center">
            <img :src="userInfo.avatarUrl" class="icon-head"><br>
            <span class="nick_name" v-cloak>{{userInfo.userName}}</span>
            <div class="row d-flex justify-content-center mt-3">
                <button id="tag_box1" type="button" class="btn btn-warning text-white p-0 pl-1 pr-1" v-cloak @click="addConcernOrSub">{{isAttention}}</button>
                <button id="tag_box2" type="button" class="btn btn-secondary ml-3 p-0 pl-1 pr-1" v-cloak @click="sendSession">发私信</button>
            </div>
        </div>

        <div class="second_box row flex-center no-gutters">
            {{userInfo.userName}}&nbsp;&nbsp;<b>的主页</b>
        </div>

        <div class="row no-gutters d-flex justify-content-between">
            <!------------左边box----------->
            <div class="left_box col-md-3">
                <!-------关注、粉丝、微博------->
                <div class="row no-gutters d-flex justify-content-center num_box mt-3 mb-3 bg-white rounded">
                    <div class="col-4 border-right"><p class="text-center mb-0" id="guanzhu">{{userInfo.bloggerNum}}</p>
                        <p class="text-center mb-0">关注</p></div>
                    <div class="col-4 border-right"><p class="text-center mb-0" id="fansNum">{{userInfo.fansNum}}</p>
                        <p class="text-center mb-0">粉丝</p></div>
                    <div class="col-4"><p class="text-center mb-0" id="blogNum">{{userInfo.blogNum}}</p>
                        <p class="text-center mb-0">微博</p></div>
                </div>

                <div class="bg-white rounded p-1 pb-3 pt-3 text-muted">
                    <div class="row border-bottom no-gutters pb-1" style="font-size: 14px;">
                        <span class="col-2"><i class="icon icon-map-pin"></i></span>
                        <span class="col-10" v-cloak>地址 {{userInfo.address}}</span>
                    </div>
                    <div class="row border-bottom no-gutters pb-1" style="font-size: 14px;">
                        <span class="col-2">
                            <i zico="生日蛋糕" class="zi zi_birthdaycake" style="color: grey;"></i>
                        </span>
                        <span class="col-10" v-cloak>生日 {{userInfo.birthday}}</span>
                    </div>
                    <div class="row border-bottom no-gutters pb-1" style="font-size: 14px;">
                        <span class="col-2"><i class="icon icon-mail"></i></span>
                        <span class="col-10" v-cloak>邮箱 {{userInfo.email}}</span>
                    </div>
                </div>
            </div>

            <!-----右边微博展示------>
            <div class="right_box col-md-8 mb-3 no-gutters">
                <div class="row nav_bar flex-center no-gutters mb-2" v-cloak>{{userInfo.userName}}&nbsp;&nbsp;<b>的微博</b></div>

                <div id="content_show">
                    <!---------------一个blogItem-------------->
                    <div id="blog_content" class="rounded mb-3 bg-white" v-for="(item,i) in blogInfoList">
                        <!---------------控制头-------------->
                        <div class="row justify-content-between">
                            <div class="media d-flex align-items-center m-1 mb-3 p-2 col-md-7">
                                <div class="media-left mr-2">
                                    <a class="d-block d-flex" style="width: 80px;height: 80px">
                                        <img :src="item.avatarUrl" alt="用户头像" class="media-object rounded-circle img-fluid img-thumbnail m-0">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a style="font-size: 20px" class="mb-0" v-cloak>
                                        {{item.userName}}</a>
                                    <p class="text-muted mb-0" v-cloak>{{item.createTime}}</p>
                                </div>
                            </div>

                            <div class="col-md-3 mt-md-3 mr-3" v-if="item.isRepost == 0">
                                <span class="badge badge-pill badge-success mb-2">原创</span>
                                <a class="badge badge-info text-white" @click="toCircle(item.circleId)" v-cloak>{{item.circleName}}</a>
                            </div>
                            <div class="col-md-3 mt-md-3 mr-3" v-if="item.isRepost == 1">
                                <span class="badge badge-pill badge-warning mb-2">转载</span>
                                <a class="badge badge-info text-white" @click="toCircle(item.circleId)"  v-cloak>{{item.circleName}}</a>
                            </div>
                        </div>

                        <!-----------原创展示----------->
                        <div v-if="item.isRepost == 0" class="p-3">
                            <p class="text-wrap mt-n3 mb-0" style="font-size: 16px" v-html="item.content"></p>
                            <!--------发图片--------->
                            <div class="row" v-if="item.type == 1">
                                <div v-for="(urlList,i) in item.resourceList" class="col-4 d-flex align-items-stretch">
                                    <img :src="urlList" class="img-fluid m-1">
                                </div>
                            </div>

                            <!----------发视频--------->
                            <div class="row" v-if="item.type == 2">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" :src="item.resourceList[0]" allowfullscreen></iframe>
                                </div>
                                <!--<div class="col-md- col-md-offset-3">-->
                                <!--<video :src="item.resourceList[0]" controls="controls" width="100%" height="260px">-->
                                <!--您的浏览器不支持播放该视频！-->
                                <!--</video>-->
                                <!--</div>-->
                                <!--<div class="col-md-3"></div>-->
                            </div>
                        </div>

                        <!-----------转载展示----------->
                        <div v-if="item.isRepost == 1" class="p-3">
                            <p class="text-wrap mt-n3 mb-0" style="font-size: 16px" v-html="item.content"></p>
                            <!-----------原创展示----------->
                            <div v-if="item.blogInfo.isRepost == 0" class="original_box rounded-lg p-3">
                                <div class="row justify-content-between">
                                    <div class="media d-flex align-items-center m-1 mb-3 p-2 col-md-7">
                                        <div class="media-left mr-2">
                                            <a class="d-block d-flex" style="width: 60px;height: 60px">
                                                <img :src="item.blogInfo.avatarUrl" alt="用户头像" class="media-object rounded-circle img-fluid">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a style="font-size: 18px" class="mb-0" v-cloak>
                                                {{item.blogInfo.userName}}</a>
                                            <p class="text-muted mb-0" v-cloak>{{item.blogInfo.createTime}}</p>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-wrap mt-n3 mb-0" style="font-size: 16px" v-html="item.blogInfo.content"></p>
                                <!--------发图片--------->
                                <div class="row" v-if="item.blogInfo.type == 1">
                                    <div v-for="(urlList,i) in item.blogInfo.resourceList" class="col-4 d-flex align-items-stretch">
                                        <img :src="urlList" class="img-fluid m-1" @click="showImg(i)">
                                        <!--<img :src="urlList" class="img-fluid" data-toggle="modal" data-target="#exampleModal">-->
                                    </div>
                                </div>

                                <!----------发视频--------->
                                <div class="row" v-if="item.blogInfo.type == 2">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" :src="item.blogInfo.resourceList[0]" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-----------评论点赞相关------------>
                        <div class="row ml-n2 mr-n2 rounded-bottom" style="border: 2px solid #dee2e6">
                            <div style="width: 20%" class="border-right text-center">
                                <a class="icon icon-share" @click.prevent="showForward(i)">转发</a>
                            </div>
                            <div style="width: 20%" class="border-right text-center">
                                <a class="icon icon-message-square" @click.prevent="showReview(i,item.blogId)" v-cloak>{{item.commentNum}}</a>
                            </div>
                            <div style="width: 20%" class="border-right text-center">
                                <a class="icon icon-thumbs-up" @click.prevent="like($event,item.blogId)" v-cloak>{{item.likeNum}}</a>
                            </div>
                            <div style="width: 40%" class="text-center">
                                <span v-cloak>{{item.createTime}}</span>
                            </div>
                        </div>

                        <div :class=['addForward',selected==i?'':'hidden']>
                            <div class="input-group m-2">
                                <input type="text" class="forwardInput form-control" v-model="forwardInput">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-info btn-sm" @click="forwardBlog($event,item.blogId)">转发</button>
                                </div>
                            </div>
                        </div>
                        <div :class=['addForward',reviewed==i?'':'hidden']>
                            <div class="input-group m-1">
                                <input type="text" class="forwardInput form-control" v-model="forwardInput">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-info btn-sm" @click="reviedBlog($event,item.blogId)">发布评论</button>
                                </div>
                            </div>

                            <!----------commentList评论不为空---------->
                            <div v-if="commentList != ''" class="border">
                                <div v-for="comment in commentList" class="border-bottom comment">
                                    <div class="row mr-0 ml-0 flex-nowrap">
                                        <img :src="comment.avatarUrl" class="rounded-circle m-2" width="35" height="35">
                                        <p class="text-muted mt-3" v-cloak><b>{{comment.userName}}:</b>{{comment.commentContent}}</p>
                                    </div>
                                    <div class="row d-flex flex-row-reverse text-muted mt-n3">
                                        <p class="mb-0 mr-3" v-text="comment.commentTime"></p>
                                    </div>
                                </div>
                            </div>
                            <!----------commentList评论为空---------->
                            <div v-if="commentList == ''" class="row d-flex justify-content-center">
                                <h6 class="text-muted">还没有人评论呢，快来评论吧！</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <button type="button" class="btn btn-primary mr-5" @click="gotoPrePage()">上一页</button>
                    <button type="button" class="btn btn-primary" @click="gotoNextPage()">下一页</button>
                </div>

            </div>
        </div>
    </div>
</section>

<!---------------尾部---------------->
<footer id="circle_footer">
    <!--—------------上半部分------------->
    <div id="top_part" class="container bg-white mt-3">
        <div class="row justify-content-between">
            <div class="d-none d-md-none d-lg-block">
                <h6>圈圈精彩</h6>
                <div class="row no-gutters">
                    <ul class="list-unstyled">
                        <li><a href="">热门圈子</a></li>
                        <li><a href="">名人堂</a></li>
                        <li><a href="">微相册</a></li>
                        <li><a href="">微指数</a></li>
                    </ul>
                    <ul class="list-unstyled ml-3">
                        <li><a href="">热门话题</a></li>
                        <li><a href="">圈圈会员</a></li>
                        <li><a href="">微游戏</a></li>
                    </ul>
                </div>
            </div>

            <div class="d-none d-sm-none d-md-block">
                <h6>手机玩圈圈</h6>
                <div class="row no-gutters">
                    <img src="../../node_modules/images/twocode.PNG" width="80">
                    <a href="" class="ml-2">扫码下载，更多版本<br>戳这里</a>
                </div>
            </div>

            <div class="d-none d-sm-block">
                <h6>认证&合作</h6>
                <div class="row no-gutters">
                    <ul class="list-unstyled">
                        <li><a href="">申请认证</a></li>
                        <li><a href="">企业圈圈</a></li>
                        <li><a href="">圈子标识</a></li>
                        <li><a href="">开放平台</a></li>
                    </ul>
                    <ul class="list-unstyled ml-3">
                        <li><a href="">链接网站</a></li>
                        <li><a href="">广告服务</a></li>
                        <li><a href="">广告代理商</a></li>
                    </ul>
                </div>
            </div>

            <!--问题：最小屏幕上两个li在一行排列-->
            <div class="d-none d-sm-block">
                <h6>圈圈帮助</h6>
                <div class="row no-gutters">
                    <ul class="list-unstyled">
                        <li class="col-xs-6"><a href="">常见问题</a></li>
                        <li class="col-xs-6"><a href="">自助服务</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--—------------下半部分------------->
    <div id="bottom_part">
        <div class="container d-none d-sm-block">
            <p class="row pt-3 justify-content-center">
                <a>圈圈客服</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>客服热线4000-960-960</span>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>意见反馈</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>舞弊举报</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>About Circle</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>开放平台</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>微博招聘</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>新浪网导航</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>投诉处理大厅</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>DMCA投诉/Report</a>
            </p>
            <p class="row justify-content-center">
                <a>京ICP证100780号</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>互联网药品服务许可证</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>京网文[2017]10291-1172号</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>京ICP备12002058号</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>增值电信业务经营许可证B2-20140447</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>乙测资字1111805</a>
            </p>
            <p class="row justify-content-center">
                <a>广播电视节目制作经营许可证（京）字第04005号</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <span>Copyright © 2009-2019 WEIBO </span>&nbsp;&nbsp;&nbsp;&nbsp;
                <a>北京微梦创科网络技术有限公司</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a><img src="../../node_modules/images/badge.png">京公网安备11000002000019号</a>
            </p>
        </div>
    </div>
    <!--<div class="container">-->
    <!--<iframe id="footerFrame" name="footerFrame" width="100%" src="../../footer.html" frameborder="0" scrolling="no"></iframe>-->
    <!--</div>-->
</footer>

</body>
<!--导航条搜索登录功能vm1-->
<script>
    let vm1 = new Vue({
        el: '#circle_navbar',
        data: {
            inputValue: '',
            loginName: '',
            password: ''
        },methods:{
            //搜索功能
            searchBlog(){
                if (this.inputValue==''){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("搜索不能为空");
                    })
                }else {
                    window.location.href = "/user/blog/blog.html?content=" + this.inputValue
                }
            },

            //登录
            login:function () {
                if (this.loginName==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机/用户名/邮箱！");
                    })
                }else if (this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入密码！");
                    })
                }else{
                    $.ajax({
                        url: "/userLogin/login",
                        type: "post",
                        data: {
                            loginName: this.loginName,
                            password: this.password,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆成功！");
                                });
                                window.location.href = "/user/index/userIndex.html";
                                $.cookie("token", result.data.token, {path: "/"});
                            } else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆失败！");
                                })
                            }
                        }
                    })
                }
            }
        }

    });
</script>

<script>
    var vm = new Vue({
        el: '#personal_box',
        data:{
            userInfo:{},
            blogInfoList:[],
            commentList:[],
            forwardInput:'',
            selected:'ll',
            reviewed:'ll',
            pageNum:'1',
            isAttention:'',
            userId1:''
        },
        methods:{
            toCircle(circleId) {
                $.cookie("circleId", circleId, {path: "/user/circle/circle.html"});
                window.location.href = "/user/circle/circle.html";
            },
            sendSession:function () {
                var userName = vm.userInfo.userName;
                $.cookie("userName",userName,{path: "/user/letter/session.html"});
                window.location.href = "/user/letter/session.html";
                // $('#tag_box2').attr("href","/user/letter/session.html?userName=" + userName);
            },
            showForward:function(i){
                if(this.selected != i) {
                    this.selected = i;
                    this.reviewed='ll';
                    this.forwardInput='';
                }else {
                    this.selected = 'lll';
                }
            },
            forwardBlog:function(e,blogId) {
                $.ajax({
                    url:"/blog/forwardBlog",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        blogId:blogId,
                        forwardContent:this.forwardInput
                    },
                    success:function (result) {
                        if(result.code == 0){
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("转发成功");
                            })
                            setTimeout(function () {
                                window.location.reload();
                            },1000);
                            vm.selected = 'll';
                        }
                    },error:function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("请先登录!");
                        })
                    }
                })
            },
            showReview:function(i,blogId){
                if(this.reviewed != i) {
                    this.reviewed = i;
                    this.forwardInput='';
                    this.selected = 'lll';
                    $.ajax({
                        url: "/blog/showComment",
                        type: "post",
                        data: {
                            blogId: blogId,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                vm.commentList= result.data;
                            }
                        }
                    })
                }else {
                    this.reviewed = 'lll';
                }
            },
            reviedBlog:function(e,blogId){
                if(this.forwardInput == ''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入评论信息！");
                    })
                }else {
                    $.ajax({
                        url: "/blog/insertComment",
                        type: "post",
                        headers: {'token': $.cookie("token")},
                        data: {
                            blogId: blogId,
                            commentContent: this.forwardInput
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg("评论成功");
                                })
                                vm.reviewed = 'lll';
                                var x = parseInt(e.target.parentElement.parentElement.parentElement.previousElementSibling.previousElementSibling.firstElementChild.nextElementSibling.firstElementChild.innerHTML);
                                e.target.parentElement.parentElement.parentElement.previousElementSibling.previousElementSibling.firstElementChild.nextElementSibling.firstElementChild.innerHTML = x + 1;
                            }
                        },error:function () {
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg("请先登录");
                                // window.location.href="../index/index.html";
                            })
                        }
                    })
                }
            },
            like:function(e,blogId){
                $.ajax({
                    url:"/blog/insertLike",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        blogId:blogId
                    },
                    success:function (result) {
                        if(result.code == 0){
                            e.target.innerText = parseInt(e.target.innerText) + 1;
                            e.target.style.color = "blue";
                        }else {
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg(result.msg);
                            })
                            e.target.style.color = "blue";
                        }
                    },error:function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("请先登录");
                            // window.location.href="../index/index.html";
                        })
                    }
                })
            },
            gotoPrePage:function(){
                if (parseInt(this.pageNum) > 1) {
                    vm.pageNum = parseInt(vm.pageNum) - 1;
                    $.ajax({
                        url: "/userInfo/getOtherBlog",
                        type: "post",
                        dataType: "json",
                        data: {
                            userId: this.userId1,
                            page: this.pageNum,
                            size: 3
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                vm.blogInfoList = result.data;
                            }
                        }
                    })
                }
            },
            gotoNextPage:function(){
                var maxPage = parseInt(this.userInfo.blogNum / 3);
                if (parseInt(this.pageNum) < (maxPage + 1)) {
                    vm.pageNum = parseInt(vm.pageNum) + 1;
                    $.ajax({
                        url: "/userInfo/getOtherBlog",
                        type: "post",
                        dataType: "json",
                        data: {
                            userId: this.userId1,
                            page: this.pageNum,
                            size: 3
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                vm.blogInfoList = result.data;
                            }
                        }
                    })
                }
            },
            addConcernOrSub:function() {
                $.ajax({
                    url:"/userInfo/addConcernOrSub",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    dataType:"json",
                    data:{
                        userId: this.userId1
                    },
                    success:function (result) {
                        if (result.code == 0){
                            vm.isAttention=="已关注";
                            $("#tag_box1").html("已关注");
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("关注成功！");
                            })
                        }else{
                            vm.isAttention=="未关注";
                            $("#tag_box1").html("未关注");
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("取消关注!");
                            })
                        }
                    },error:function () {
                        layui.use('layer',function() {
                            var layer = layui.layer;
                            layer.msg("请登录！");
                        })
                        setTimeout(function () {
                            window.location.href="../index/index.html";
                        },1000)
                    }
                })
            },
        }, created() {
            var url =decodeURI(location.search);
            var conte = url.substr(8);
            this.userId1 = conte
            console.log(this.userId1);
            //展示他人除微博外信息
            if ($.cookie('token') == null){
            }else {
                $.ajax({
                    url:"/test/testGetUserIdByToken",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    success:function (result) {
                        if(result.code == 0){
                            if(vm.userId1 == result.data){
                                window.location.href="../user-center/personal.html";
                            }
                        }
                    }
                })
            }


            $.ajax({
                url:"/userInfo/getOtherInfo",
                type:"post",
                dataType:"json",
                data:{
                    userId:this.userId1
                },
                success:function (result) {
                    if(result.code == 0){
                        vm.userInfo = result.data;
                    }
                }
            })

            //展示他人每条微博信息
            $.ajax({
                url:"/userInfo/getOtherBlog",
                type:"post",
                dataType:"json",
                data:{
                    userId: this.userId1,
                    page: this.pageNum,
                    size: 3
                },
                success:function (result) {
                    if(result.code == 0){
                        vm.blogInfoList = result.data;
                    }
                }
            })

            //判断是否关注
            $.ajax({
                url:"/userInfo/ifConcern",
                type:"post",
                headers:{'token':$.cookie("token")},
                dataType:"json",
                data:{
                    userId: this.userId1
                },
                success:function (result) {
                    if (result.code == 0){
                        vm.isAttention = "已关注"
                    } else {
                        vm.isAttention = "未关注"
                    }
                },error:function () {
                    vm.isAttention = "未关注"
                }
            })

        }
    })
</script>
</html>