<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>用户界面</title>
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/css/top.css">
    <link rel="stylesheet" href="../../node_modules/css/personal.css">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/at-ui/dist/at.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <div class="row top-header">
        <div class="col-md-3 logo">
            <img src="../../node_modules/images/logo.png" class="img-up">
        </div>
        <div class="col-md-9">
            <at-input v-model="inputValue4" placeholder="请输入内容" append-button class="top-search">
                <template slot="append">
                    <i class="icon icon-search"></i>
                </template>
            </at-input>
        </div>
        <div class="col-md-7 col-md-offset-5">
            <a href="#" class="top-font-size"><i class="icon icon-home"></i>首页</a>
            <a href="../../user/circle/circle.html" class="top-font-size"><i class="icon icon-home"></i>圈子</a>
            <a href="../../user/letter/session.html" class="top-font-size"><i class="icon icon-home"></i>私信</a>
            <a href="../../user/user-center/personal.html" class="top-font-size"><i class="icon icon-home"></i>用户</a>
        </div>
    </div>

    <div class="create-margin">
        <div class="row circle_frame">
            <div class="col-md-3"></div>
            <div class="col-md-18">

                <div class="first_box flex-center">
                    <img :src="userInfo.avatarUrl" class="icon-head"><br>
                    <span class="nick_name" v-cloak>{{userInfo.userName}}</span><br>
                </div>

                <div class="second_box row">
                    <at-menu mode="horizontal" active-name="0" class="col-md-24">
                        <at-menu-item name="1" class="col-md-offset-5">我的主页</at-menu-item>
                        <at-menu-item name="2" class="col-md-offset-8">我的相册</at-menu-item>
                    </at-menu>
                </div>

                <div class="row">
                    <div class="left_box col-md-9">
                        <div class="left_top_box flex-center">
                            <at-breadcrumb separator="" class="row sel_list">
                                <at-breadcrumb-item href="../../user/user-center/attention.html" class="col-md-offset-2" v-cloak>{{attentionNum}} 关注</at-breadcrumb-item>
                                <div class="box_29X1"></div>
                                <at-breadcrumb-item href="../../user/user-center/fans.html" class="col-md-offset-2" v-cloak>{{userInfo.fansNum}} 粉丝</at-breadcrumb-item>
                                <div class="box_29X1"></div>
                                <at-breadcrumb-item href="../../user/user-center/personal.html" class="col-md-offset-2" v-cloak>{{userInfo.blogNum}} 微博</at-breadcrumb-item>
                            </at-breadcrumb>
                        </div>
                        <div class="person_info flex-center">
                            <span><a href="../../user/letter/settingInfo.html">编辑个人资料</a></span>
                        </div>
                    </div>
                    <div class="right_box col-md-15">
                        <div class="row nav_bar">
                            <div class="choose_item col-md-15">
                                <at-menu mode="horizontal" active-name="0" class="menu_choose">
                                    <at-menu-item name="1" class="menu_item col-md-offset-2">全部</at-menu-item>
                                    <at-menu-item name="2" class="menu_item col-md-offset-2">原创</at-menu-item>
                                </at-menu>
                            </div>
                            <at-input v-model="searchMyBlog" class="nav-search" placeholder="搜索我的微博" prepend-button>
                                <template slot="prepend">
                                    <i class="icon icon-search"></i>
                                </template>
                            </at-input>
                        </div>

                        <div class="personal_card" v-for="(item,index) in myBlogList">
                            <div class="personal_box row">
                                <img :src="item.avatarUrl" class="user_img">
                                <div class="user_info">
                                    <span class="user_nickname" v-cloak>{{item.userName}}</span><br>
                                    <span class="publish_date" v-cloak>{{item.createTime}}</span>
                                </div>
                                <at-tag color="warning" v-cloak>{{item.circleName}}</at-tag>
                            </div>
                            <!-- 原创展示 -->
                            <div v-if="item.isRepost == 0">
                                <div class="row">
                                    <div class="col-md-18 col-md-offset-3">
                                        <span v-text="item.content"></span>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="row" v-if="item.type == 1">
                                    <div class="img_list col-md-18 col-md-offset-3" v-for="(imgUrl,index) in item.resourceList">
                                        <img :src="imgUrl" class="publish_img">
                                    </div>
                                </div>
                                <div class="row" v-if="item.type == 2">
                                    <div class="col-md-18 col-md-offset-3">
                                        <video :src="item.resourceList[0]" controls="controls" width="100%" height="260px">您的浏览器不支持播放该视频！</video>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>

                            <!-- 转载展示 -->
                            <div v-if="item.isRepost == 1">
                                <div class="row">
                                    <div class="col-md-18 col-md-offset-3">
                                        <span v-text="item.content"></span>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>

                                <div v-if="item.blogInfo.isRepost == 0">
                                    <div class="col-md-18 col-md-offset-3" style="background-color: #ECECEC">
                                        <div class="personal_box row">
                                            <img :src="item.blogInfo.avatarUrl" class="user_img">
                                            <div class="user_info">
                                                <span class="user_nickname" v-cloak>{{item.blogInfo.userName}}</span><br>
                                                <span class="publish_date" v-cloak>{{item.blogInfo.createTime}}</span>
                                            </div>
                                            <at-tag color="warning" v-cloak>{{item.blogInfo.circleName}}</at-tag>
                                        </div>
                                        <div class="row" v-if="item.blogInfo.type == 1">
                                            <div class="col-md-18 col-md-offset-3">
                                                <div class="img_list" v-for="(imgUrl,index) in item.blogInfo.resourceList">
                                                    <img :src="imgUrl" class="publish_img">
                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <div class="row" v-if="item.blogInfo.type == 2">
                                            <div class="col-md-18 col-md-offset-3">
                                                <video :src="item.blogInfo.resourceList[0]" controls="controls" width="100%" height="260px">您的浏览器不支持播放该视频！</video>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>

                            <div class="box_49X1"></div> <!--分隔线-->
                            <div class="row flex-center box_19X1">
                                <div class="col-md-8">
                                    <a class="icon icon-external-link" @click.prevent="showForward(i)">转发</a>
                                </div>
                                <div class="col-md-8">
                                    <a class="icon icon-message-square" @click.prevent="showReview(i,item.blogId)" v-cloak>评论 {{item.commentNum}}</a>
                                </div>
                                <div class="col-md-8">
                                    <a class="icon icon-thumbs-up" @click.prevent="like($event,item.blogId)" v-cloak>赞 {{item.likeNum}}</a>
                                </div>
                            </div>

                            <div :class=['row','addForward',selected==i?'':'hidden']>
                                <div class="col-md-20 col-md-offset-1">
                                    <input type="text" class="forwardInput" v-model="forwardInput">
                                </div>
                                <div class="col-md-3">
                                    <input type="button" class="forwardButton" value="转发" @click="forwardBlog($event,item.blogId)">
                                </div>
                            </div>

                            <div :class=['addForward',reviewed==i?'':'hidden']>
                                <div class="row">
                                    <div class="col-md-20 col-md-offset-1">
                                        <input type="text" class="forwardInput" v-model="forwardInput">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="button" class="forwardButton" value="发布评论" @click="reviedBlog($event,item.blogId)">
                                    </div>
                                </div>

                                <div v-if="commentList != ''">
                                    <div v-for="comment in commentList">
                                        <div class="row">
                                            <div class="col-md-2 col-md-offset-1 commentShow">
                                                <img :src="comment.avatarUrl" class="commentHeader">
                                            </div>
                                            <div class="col-md-13 commentShow">
                                                <span class="black commenter" v-cloak>{{comment.userName}}:</span>
                                                <span class="commenter" v-text="comment.commentContent"></span>
                                            </div>
                                            <div class="col-md-7 commentShow" v-cloak>{{comment.commentTime}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div v-if="commentList == ''" class="row">
                                    <div class="col-md-16 col-md-offset-8">
                                        <span style="font-size: 18px">还没有人评论呢，快来评论吧！</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="pagination">
                            <at-pagination :total="100" show-quickjump></at-pagination>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            inputValue4:'',
            searchMyBlog:'',
            attentionNum:'',
            userInfo:{},
            myBlogList:[],
            commentList:[],
            forwardInput:'',
            selected:'ll',
            reviewed:'ll',
            pageNum:'1',
            pageSize:'3'
        },
        methods: {
            showForward(i){
                if(this.selected != i) {
                    this.selected = i;
                    this.reviewed='ll';
                    this.forwardInput='';
                }else {
                    this.selected = 'lll';
                }
            },
            forwardBlog(e,blogId) {
                $.ajax({
                    url:"/blog/forwardBlog",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        blogId:blogId,
                        forwardContent:this.forwardInput
                    },
                    success:function (result) {
                        if(result.code == 0){
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("转发成功");
                            })
                            vm.selected = 'll';
                        }
                    },error:function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("请先登录!");
                        })
                    }
                })
            },
            showReview(i,blogId){
                if(this.reviewed != i) {
                    this.reviewed = i;
                    this.forwardInput='';
                    this.selected = 'lll';
                    $.ajax({
                        url: "/blog/showComment",
                        type: "post",
                        data: {
                            blogId: blogId,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                vm.commentList= result.data;
                            }
                        }
                    })
                }else {
                    this.reviewed = 'lll';
                }
            },
            reviedBlog(e,blogId){
                if(this.forwardInput == ''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入评论信息！");
                    })
                }else {
                    $.ajax({
                        url: "/blog/insertComment",
                        type: "post",
                        headers: {'token': $.cookie("token")},
                        data: {
                            blogId: blogId,
                            commentContent: this.forwardInput
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg("评论成功");
                                })
                                vm.reviewed = 'lll';
                            }
                        },error:function () {
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg("请先登录");
                                // window.location.href="../index/index.html";
                            })
                        }
                    })
                }
            },
            like(e,blogId){
                $.ajax({
                    url:"/blog/insertLike",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        blogId:blogId
                    },
                    success:function (result) {
                        if(result.code == 0){
                            e.target.innerText = parseInt(e.target.innerText) + 1;
                            e.target.style.color = "blue";
                        }else {
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg(result.msg);
                            })
                            e.target.style.color = "blue";
                        }
                    },error:function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("请先登录");
                            // window.location.href="../index/index.html";
                        })
                    }
                })
            }
        },
        created(){
            //展示自己除微博外信息
            $.ajax({
                url:"/userInfo/getUserAvatarAndRelation",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0){
                        vm.userInfo = result.data;
                    }
                }
            })

            //展示自己每条微博信息
            $.ajax({
                url:"/userInfo/getUserAllBlog",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                data:{
                    page: this.pageNum,
                    size: this.pageSize
                },
                success:function (result) {
                    if(result.code == 0){
                        vm.myBlogList = result.data;
                    }
                }
            })

            //关注数
            $.ajax({
                url:"/userInfo/getAllBloggerSelf",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                data:{
                    page: this.pageNum,
                    size: this.pageSize
                },
                success:function (result) {
                    if(result.code == 0){
                        vm.attentionNum = result.count;
                    }
                }
            })
        }
    })
</script>
</html>