<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>圈子</title>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/at-ui/dist/at.js"></script>
    <link rel="stylesheet" href="node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="node_modules/css/top.css">
    <link rel="stylesheet" href="node_modules/css/circle.css">
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="app" class="row top-header">
        <div class="col-md-3 logo">
            <a href="#">
            <img src="node_modules/images/logo.png" class="img-up">
            </a>
        </div>
        <div class="col-md-9">
            <at-input v-model="inputValue4" placeholder="请输入内容" append-button class="top-search">
                <template slot="append">
                    <i class="icon icon-search"></i>
                </template>
            </at-input>
        </div>
        <div class="col-md-7 col-md-offset-5">
            <at-menu mode="horizontal" active-name="2">
                <at-menu-item name="1"><i class="icon icon-home"></i>首页</at-menu-item>
                <at-menu-item name="2"><i class="icon icon-aperture"></i>圈子</at-menu-item>
                <at-menu-item name="3"><i class="icon icon-mail"></i>私信</at-menu-item>
                <at-menu-item name="4"><i class="icon icon-user"></i>用户</at-menu-item>
            </at-menu>
        </div>
    </div>

    <div id="mid-search" class="row search-margin">
        <div class="col-md-3"></div>
        <div class="col-md-3 logo">
            <a href="#">
                <img src="node_modules/images/logo.png" class="img-up">
            </a>
        </div>
        <div class="col-md-8">
            <at-input v-model="searchVal" placeholder="请输入内容" class="mid-search"></at-input>
        </div>
        <div class="col-md-2">
            <at-button type="info" hollow class="mid-search" title="圈内搜索">圈内搜索</at-button>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <span class="span-mid" title="发现身边的事！">发现身边的事！</span>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div id="mid-title">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2 div-img">
                <img :src="circleItem.circleImgUrl" class="circle-header">
            </div>
            <div class="col-md-4">
                <h1 v-text="circleItem.circleName"></h1>
                <span class="span-item" v-cloak>帖子：{{circleItem.blogNum}}</span>
                <span class="span-item" v-cloak>点赞：{{circleItem.blogLike}}</span>
            </div>

            <div class="col-md-6 col-md-offset-4">
    <!--            <h3>创建人:{{circleItem.createName}}</h3>-->
    <!--            <h3>创建时间:{{circleItem.createTime}}</h3>-->
            </div>
            <div class="col-md-2">
                <a><span class="all-circle">全部圈子 ></span></a><br>
                <a href="createCircle.html"><span class="all-circle">创建圈子 ></span></a>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row title-margin">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <span class="black-blue" v-cloak>&nbsp;&nbsp;&nbsp;圈子主题:{{circleItem.circleTitle}}</span>
            </div>
            <div class="col-md-3">
                <a href=""><span class="black-blue" v-cloak>创建人:{{circleItem.createName}}</span></a>
            </div>
            <div class="col-md-4">
                <span class="black-blue" v-cloak>创建时间:{{circleItem.createTime}}</span>
            </div>
            <div class="col-md-1"><a><span class="black-blue">热度</span></a></div>
            <div class="col-md-2"><a><span class="black-blue">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布时间</span></a></div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <div id="circle-content">
        <div class="row"></div>
    </div>


</div>
<script>
    new Vue({
        el: '#app',
        data:{
            inputValue4:''
        }
    })
    var vm1 = new Vue({
        el:'#mid-search',
        data:{
            searchVal:'',
        }
    })

    var vm2 = new Vue({
        el: '#mid-title',
        data:{
                circleItem:{
                    circleId:'',
                    circleImgUrl : 'node_modules/images/upload.png',
                    circleName: '搞笑圈',
                    blogNum:'2',
                    blogLike:'8',
                    createName: '用户1',
                    createTime: '2019-09-01',
                    circleTitle: '分享身边的搞笑事情',
                }
            }
    })

    var vm3 = new Vue({
        el: '#circle-content',
        data:{

        }
    })
</script>
</body>
</html>