<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>私信</title>
    <link type="text/css" rel="stylesheet" href="node_modules/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="node_modules/css/session.css">
    <script src="node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/js/session.js"></script>

    <link  rel="stylesheet" href="node_modules/layui/css/modules/layer/default/layer.css"/>
    <script type="text/javascript" src="node_modules/layui/lay/modules/layer.js"></script>
</head>
<body>
<div class="container">
    <div class="row" id="top20">
        <!-- 会话列表 -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-lg-offset-1" id="ConversationList">
            <!-- 个人信息 -->
            <div class="row" id="userInfo">
                <!-- 头像 -->
                <div class="imgBox left">
                    <img :src="userInfo.avatarUrl" alt="用户头像" class="imgSize">
                </div>
                <!-- 用户名 -->
                <div class=left">
                    <span v-text="userInfo.userName" id="myName"></span>
                </div>
            </div>
            <!-- 搜索栏 -->
            <div class="row" id="friends" style="background-color: #232212">
                好友列表
            </div>
            <!-- 会话 -->
            <div class="row list" v-for="(item,i) in userList" @click = "clickFriends(i)">
                <!-- 头像 -->
                <div class="imgBox left">
                    <img :src="item.avatarUrl" alt="用户头像" class="imgSize">
                </div>
                <!-- 用户名 -->
                <div class=left">
                    <span class="userName left" v-text="item.userName"></span>
                </div>
                <!-- 最近一条消息的时间 -->
                <div>
                    <span class="lastMsgTime right" v-text="item.sendTime"></span>
                </div>
                <!-- 消息概况 -->
                <div>
                    <span class="listText left" v-text = "item.content"></span>
                </div>
            </div>
        </div>

        <!-- 会话详情 -->
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="ConversationDetails">
            <!-- 历史消息$联系人信息 -->
            <div class="row" id="message">
                <!-- 顶部：联系人信息 -->
                <div id="messageTitle">
                    <span id="contactName" class="left">您还未选中或发起聊天，快去跟好友聊一聊吧</span>
                    <div class="right" id="messageSetUp">
                        设置
                    </div>
                </div>
                <!-- 历史消息 -->
                <div id = "msgContent" >
                    <!-- 接收信息示例 -->
                    <div class="messageBigBox left" v-for="(item,i) in messageList" >
                        <!-- 信息发送时间 -->
                        <div class="time">
                            <span>{{item.sendTime}}</span>
                        </div>
                        <!-- 用户的头像 -->
                        <div class="smallImgBox right">
                            <img src="node_modules/images/head.png" alt="用户头像" class="imgSize">
                        </div>
                        <div class="messageMiddleBox right">
                            <div class="messageBox right">
                                <p>{{item.content}} </p>
                            </div>
                        </div>
                    </div>

<!--                    &lt;!&ndash; 发送信息示例 &ndash;&gt;-->
<!--                    <div class="messageBigBox left">-->
<!--                        &lt;!&ndash; 信息发送时间 &ndash;&gt;-->
<!--                        <div class="time">-->
<!--                            <span>昨天</span>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; 用户的头像 &ndash;&gt;-->
<!--                        <div class="smallImgBox right">-->
<!--                            <img src="node_modules/images/head.png" alt="用户头像" class="imgSize">-->
<!--                        </div>-->
<!--                        <div class="messageMiddleBox right">-->
<!--                            <div class="messageBox right">-->
<!--                                <p>-->
<!--                                    你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好-->
<!--                                    你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <!-- 输入 -->
            <div class="row" id="editBox">
                <div id="inputLogo">
                    <div class="bLogoBox left">four</div>
                    <div class="bLogoBox left">five</div>
                    <div class="bLogoBox left">six</div>
                    <div class="bLogoBox left">seven</div>
                </div>
                <!-- 输入内容 -->
                <textarea rows="5" cols="91" id="inputText" onkeypress="back(event);"  placeholder="按下Enter回车键发送内容"></textarea>
            </div>
        </div>
    </div>
</div>
<script>

    //绑定用户信息以及好友列表
    var vm1 = new Vue({
        el:"#top20",
        data:{
            userInfo:{
                userId:"1",
                userName:"用户名",
                avatarUrl:"node_modules/images/1.jpg"
            },
            userList:[{
                userId:"2",
                userName:"胡歌",
                avatarUrl:"node_modules/images/2.jpg",
                content:"这是最近的一条消息",
                sendTime:"昨天"
            },{
                userId:"3",
                userName:"吴彦祖",
                avatarUrl:"node_modules/images/3.jpg",
                content:"这是最近的一条消息",
                sendTime:"前天"
            },{
                userId:"4",
                userName:"迪丽热巴",
                avatarUrl:"node_modules/images/4.jpg",
                content:"暂时没有进行截取长度处理",
                sendTime:"大前天"
            }],
            messageList:[{
                senderId:"1",//发送者
                sendTime:"昨天", //发送时间
                content:"集美吴彦祖"//内容
            },{
                senderId:"2",//发送者
                sendTime:"昨天", //发送时间
                content:"集美迪丽热巴"//内容
            },{
                senderId:"1",//发送者
                sendTime:"昨天", //发送时间
                content:"好久不见"//内容
            },{
                senderId:"2",//发送者
                sendTime:"昨天", //发送时间
                content:"好久不见"//内容
            }]
        },
        methods:{
            clickFriends:function (i) {
                //先将所有的list的背景颜色初始化，包括去掉右边框
                $(".list").css({"background-color": "#383838"});
                $(".list").css({"border": "none"});
                $(".list").css({"border-bottom": "1px solid black"});

                // 将点击的那一个list的div的背景颜色进行更改，加上右边框
                var $now = $(".list").eq(i);
                $now.css({"background-color": "#232212"});
                $now.css({"border-right": "2px solid #ff5500"});
                $now.css({"border-bottom": "1px solid black"});
                $("#contactName").html($now.find(".userName").html());

                //设置聊天头像的url
                var j = 0;
                //获取到每个消息的发送者的id
                var senderId=[];
                $(this.messageList).each(function () {
                    senderId.push(this.senderId);
                    j++;
                })
                //用户id
                var userId = this.userInfo.userId;
                //用户头像
                var userAvatar = this.userInfo.avatarUrl;

                //获取到聊天对象的头像url
                var url = $now.find(".imgSize").attr("src");

                j=0;
                //换头像
                $(".messageBigBox").each(function () {
                    //判断为发送
                    if(senderId[j] == userId){
                        //换头像
                        $(this).find(".smallImgBox img").attr("src",userAvatar);
                    }
                    //判断为接收
                    else {
                        //让消息显示到左边
                        $(this).find(".smallImgBox").removeClass("right");
                        $(this).find(".smallImgBox").addClass("left");
                        //大框
                        $(this).find(".messageMiddleBox").removeClass("right");
                        $(this).find(".messageMiddleBox").addClass("left");
                        //小框
                        $(this).find(".messageBox").removeClass("right");
                        $(this).find(".messageBox").addClass("left");
                        //头像
                        $(this).find(".smallImgBox img").attr("src",url);
                    }
                    j++;
                })

                //显示出聊天记录
                $(".messageBigBox").css("display","block");
                var content = document.getElementById("msgContent");
                if (content != null) {
                    content.scrollTop = content.scrollHeight;
                }
            }
         }
    })

    //判断inputText按下enter,将senderId（发送者）,userId（接收者）,sendTime（发送时间）,content（发送内容）
    //传到后端，进行数据库操作，重新生成list，刷新历史信息界面
</script>
</body>
</html>