<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>私信</title>

    <meta name="description" content="基于jQuery的表情，QQ表情，贴吧表情，emoji表情">
    <meta name="keywords" content="jQuery,表情插件，js表情插件，jQuery插件，jQuery表情插件，js">

    <link rel="stylesheet" href="../../node_modules/css/navbar.css">
    <link rel="stylesheet" href="../../node_modules/css/footer.css">
    <link rel="stylesheet" href="../../node_modules/css/session.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../node_modules/layui/css/layui.css">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <script src="../../node_modules/bootstrap/js/bootstrap.js"></script>

    <script type="text/javascript" src="../../node_modules/emoji_jQuery-master/dist/emoji_jQuery.min.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<!---------------导航条---------------->
<header id="circle_navbar">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar_c fixed-top">
            <div class="container-fluid">
                <!------------Logo图标------->
                <a class="navbar-brand col-xs-3 col-md-2" href="../../user/index/index.html">
                    <img src="../../node_modules/images/logo.png" class="img-fluid">
                </a>

                <!------------汉堡按钮------------>
                <button class="navbar-toggler col-xs-2 col-md-1 ml-5" type="button" data-toggle="collapse"
                        data-target="#circle_nav" aria-controls="circle_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width: 25px;margin-left: 5px;margin-right: 5px"></span>
                </button>

                <!------------六个导航按钮--------->
                <div class="collapse navbar-collapse col-lg-6" id="circle_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="../../user/index/userIndex.html"><i class="icon icon-home"></i>首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../circle/circleRank.html"><i class="icon icon-aperture"></i>圈子</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../letter/session.html"><i class="icon icon-mail"></i>私信</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../user-center/personal.html"><i class="icon icon-user"></i>用户</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../user/index/newRegister.html" target="_blank">注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModalT">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 导航条模态框 -->
        <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">账号登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mr-3 input-group d-flex align-items-center mb-2">
                            <i class="icon icon-user mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="text" placeholder="请输入账号" onclick="this.placeholder='' " v-model="loginName">
                        </div>
                        <div class="mr-3 input-group d-flex align-items-center mb-1">
                            <i class="icon icon-lock mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="password" placeholder="请输入密码" onclick="this.placeholder='' " v-model="password">
                        </div>
                        <a href="../../user/index/retrieve.html" target="_blank" class="d-flex flex-end">忘记密码？</a>
                        <button type="button" class="btn btn-block bg-info mt-2" @click="login">立即登录</button>

                        <div class="row ml-2">
                            <span style="font-size: 14px">还没有账号？<a href="../../user/index/register.html" target="_blank" style="color: #c7254e">立刻注册</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="session_box" class="container">
    <div class="row">
        <!--------会话列表---------->
        <div class="col-12 col-md-3 bg-dark no-gutters" id="ConversationList">
            <!--------个人信息--------->
            <div class="row border-secondary border-bottom" id="userInfo">
                <img :src="userInfo.avatarUrl" alt="用户头像" width="40px" height="40px" class="img-fluid m-2 rounded-circle">
                <span class="text-white mt-3" v-text="userInfo.userName"></span>
            </div>
            <!--------会话列表--------->
            <span class="row text-muted border-secondary border-bottom p-1">会话列表</span>
            <!--------会话对象--------->
            <div class="list row d-flex justify-content-between" v-for="(item,i) in userList" @click = "clickFriends(i);getMsg(i)">
                <div class="row no-gutters">
                    <a href="#ConversationDetails" style="height: 40px;width: 40px" class="m-2 d-flex d-block">
                        <img :src="item.avatarUrl" alt="用户头像" width="40px" height="40px" class="img-fluid m-0 rounded-circle">
                    </a>
                    <div>
                        <!-- 用户名 -->
                        <h5 class="text-white mt-2 userName" v-text="item.userName"></h5>
                        <!-- 消息概况 -->
                        <p class="text-muted mt-2 text-truncate d-inline-block" style="max-width: 80px;" v-cloak>{{item.letterContent}}</p>
                    </div>
                </div>
                <!-- 最近一条消息的时间 -->
                <span class="text-muted mt-2 mr-2" v-text="item.sendTime"></span>
            </div>
        </div>

        <!--------右边会话详情---------->
        <div class="col-12 col-md-9 bg-light no-gutters" id="ConversationDetails">
            <!-- 历史消息$联系人信息 -->
            <div id="message">
                <!-------顶部联系人昵称------->
                <p id="contactName" class="text-muted mt-3">您还未选中或发起聊天，快去跟好友聊一聊吧</p>
                <!-------历史消息--------->
                <div id="msgContent">
                    <!-- 接收信息示例 -->
                    <div class="p-3" v-for="(item,i) in messageList">
                        <!-----信息发送时间----->
                        <p class="row text-muted no-gutters d-flex justify-content-center m-3" v-cloak>{{item.sendTime}}</p>
                        <!-- 用户的头像 -->
                        <div class="smallImgBox float-right" v-show="item.senterId == userInfo.userId">
                            <img :src="userInfo.avatarUrl" alt="用户头像" class="imgSize" >
                        </div>
                        <!-- 聊天对象的头像 -->
                        <div class="smallImgBox float-left" v-show="item.senterId != userInfo.userId">
                            <img :src="item.avatarUrl" alt="用户头像" class="imgSize">
                        </div>

                        <!-- 发送消息 -->
                        <div class="messageMiddleBox float-right" v-show="item.senterId == userInfo.userId">
                            <div class="float-right bg-primary rounded" v-if="item.resourceUrl == null">
                                <p class="p-1 text-white" v-html = "item.letterContent"></p>
                            </div>
                            <div class="float-right bg-primary p-1 rounded" v-if="item.resourceUrl != null">
                                <img :src="item.resourceUrl" style="width: 100px">
                            </div>
                        </div>

                        <!-- 接收消息 -->
                        <div class="messageMiddleBox left" v-show="item.senterId != userInfo.userId">
                            <div class="float-left bg-info rounded">
                                <p class="p-1 text-white" v-html = "item.letterContent"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-------输入框------->
            <div class="border no-gutters" id="editBox">
                <div class="row no-gutters d-flex align-items-center p-2">
                    <i class="layui-icon layedit-tool-face ml-3" title="表情" id="emojiBtn"></i>
                    <input type="file" id="file" style="display: none" @change="upLoad">
                    <label for="file" class="mb-0">
                        <i class="layui-icon layui-icon-camera ml-3" title="发图片" style="font-size: 20px"></i>
                    </label>
                </div>
                <div class="row no-gutters">
                    <textarea rows="5" cols="91" id="inputText" onkeypress="back(event);"  placeholder="按下Enter回车键发送内容" style="width: 100%"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>
<!--导航条登录功能vm1-->
<script>
    let vm1 = new Vue({
        el: '#circle_navbar',
        data: {
            loginName: '',
            password: ''
        },methods:{
            //登录
            login:function () {
                if (this.loginName==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机/用户名/邮箱！");
                    })
                }else if (this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入密码！");
                    })
                }else{
                    $.ajax({
                        url: "/userLogin/login",
                        type: "post",
                        data: {
                            loginName: this.loginName,
                            password: this.password,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆成功！");
                                });
                                window.location.href = "/user/index/userIndex.html";
                                $.cookie("token", result.data.token, {path: "/"});
                            } else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆失败！");
                                })
                            }
                        }
                    })
                }
            }
        }

    });
</script>
<!--绑定用户信息以及好友列表vm-->
<script>
    var vm = new Vue({
        el:"#session_box",
        data:{
            userInfo:{
                // avatarUrl: "",
                // userName: "",
                // userId: ""
            },
            userList:[{
                // avatarUrl: "",
                // letterContent: "",
                // userName: "",
                // userId: "",
                // sendTime: ""
            }],
            messageList:[{
                senterId:"",//发送者
                letterContent:"",//内容
                resourceUrl:"",
                type:"",
                sendTime:"", //发送时间
            }],
            file:''
        },
        methods: {
            getMsg:function(i){
                //当前聊天对象的id
                // var connectionId = vm.userList[i].userId;
                var userName = vm.userList[i].userName;
                $.ajax({
                    url:"/session/getMessageLog",
                    type:"post",
                    dataType:"json",
                    // async:true,
                    headers:{'token':$.cookie("token")},
                    data:{
                        // receiverId:connectionId
                        userName:userName
                    },success:function (result) {
                        if (result.code == 0) {
                            vm.messageList = result.data;
                        }
                    }
                })
            },
            clickFriends: function (i) {
                //先将所有的list的背景颜色初始化，包括去掉右边框
                $(".list").css({"background-color": "#383838"});
                $(".list").removeClass("choose");
                $(".list").css({"border": "none"});
                // 将点击的那一个list的div的背景颜色进行更改，加上右边框
                var $now = $(".list").eq(i);
                $now.css({"background-color": "#232212"});
                $now.addClass("choose");
                $now.css({"border-right": "2px solid #ff5500"});
                $now.css({"border-bottom": "1px solid #6c757d"});
                $("#contactName").html($now.find(".userName").html());

            },
            //获取发送者的消息 （在线聊天用）
            getOnlineMsg:function(senterName){
                //当前聊天对象的id
                var userName = senterName;
                $.ajax({
                    url:"/session/getMessageLog",
                    type:"post",
                    dataType:"json",
                    // async:true,
                    headers:{'token':$.cookie("token")},
                    data:{
                        // receiverId:connectionId
                        userName:userName
                    },success:function (result) {
                        if (result.code == 0) {
                            vm.messageList = result.data;
                        }
                    }
                })
            },
            upLoad:function(e) {
                this.file = e.target.files[0];
                var formData = new FormData();
                formData.append("file",this.file);
                $.ajax({
                    url : "/session/test",
                    type : 'POST',
                    data : formData,
                    headers:{'token':$.cookie("token")},
                    processData: false,
                    contentType: false,
                    success : function(result) {
                        console.log(result.data);
                        if (result.code == 0){
                            var userName =$(".choose").find(".userName").html();
                            if(userName == null)
                            {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("请先选择联系人");
                                })
                            }
                            else
                            {
                                $.ajax({
                                    url:"/session/sendMsg",
                                    type:"post",
                                    dataType:"json",
                                    headers:{'token':$.cookie("token")},
                                    data: {
                                        userName:userName,
                                        // letterContent:"",
                                        resourceUrl:result.data                                    },
                                    success:function (result) {
                                        if(result.code == 0){
                                            $("#inputText").val("");
                                            $.ajax({
                                                url:"/session/getMessageLog",
                                                type:"post",
                                                dataType:"json",
                                                async:true,
                                                headers:{'token':$.cookie("token")},
                                                data:{
                                                    // receiverId:connectionId
                                                    userName:userName
                                                },success:function (result) {
                                                    if (result.code == 0) {
                                                        vm.messageList = result.data;
                                                    }
                                                }
                                            })
                                            $.ajax({
                                                url:"/session/getUserList",
                                                type:"post",
                                                dataType:"json",
                                                headers:{'token':$.cookie("token")},
                                                success:function (result) {
                                                    if(result.code == 0){
                                                        vm.userList = result.data;
                                                    }
                                                }
                                            })
                                        }
                                    }
                                })
                            }
                        }
                    }
                });
            }
        },
        created(){
            //获取登陆者的用户信息
            $.ajax({
                url:"/session/getUserInfo",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0){
                        vm.userInfo = result.data;
                    }
                }
            })
            //获取会话列表
            $.ajax({
                url:"/session/getUserList",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0){
                        vm.userList = result.data;
                    }
                }
            })
        }
        ,updated()
        {
            this.$nextTick(function () {
                var content = document.getElementById("msgContent");
                // console.log("+" + content.scrollTop);
                if (content != null) {
                    content.scrollTop = content.scrollHeight;
                }
            })

            // console.log("1"+vm.userList[0].userName);
            if(flag === 1)
            {
                flag = 2;
                if(vm.userList[0].userName != null)
                {
                    var userName = vm.userList[0].userName;
                    // console.log("userName1" + userName);

                }
            }
            else if (flag === 2){
                vm.clickFriends(0);
                if(vm.userList[0] != null){
                    var userName = vm.userList[0].userName;
                    // console.log("userName2" + userName);
                    $.ajax({
                        url:"/session/getMessageLog",
                        type:"post",
                        dataType:"json",
                        // async:true,
                        headers:{'token':$.cookie("token")},
                        data:{
                            // receiverId:connectionId
                            userName:userName
                        },success:function (result) {
                            if (result.code == 0) {
                                vm.messageList = result.data;
                            }
                        }
                    })
                }
                flag=3;
            }
            // flag = false;
        }
    })
</script>
<script>
    var flag = 1;

    $(document).ready(function() {
        var url =decodeURI(location.search);
        console.log(url);
        if(url == ""||url==null)
        {
            console.log("非页面间传值");
        }
        else {
            // console.log(url);
            var sendName = url.substr(10);
            // var sendName = url;
            // console.log(sendName);
            //查询是否存在记录
            $.ajax({
                url:"/session/selectSession",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                data: {
                    userName:sendName
                },
                success:function (result) {
                    if(result.data == 0)
                    {
                        $.ajax({
                            url:"/session/sendMsg",
                            type:"post",
                            dataType:"json",
                            headers:{'token':$.cookie("token")},
                            data: {
                                userName:sendName,
                                letterContent:"你好呀",
                                // resourceUrl:""
                            },
                            success:function (result) {
                                window.location.href="/user/letter/session.html";
                                if(result.code == 0){
                                    $("#inputText").val("");
                                    $.ajax({
                                        url:"/session/getMessageLog",
                                        type:"post",
                                        dataType:"json",
                                        async:true,
                                        headers:{'token':$.cookie("token")},
                                        data:{
                                            // receiverId:connectionId
                                            userName:sendName
                                        },success:function (result) {
                                            if (result.code == 0) {
                                                vm.messageList = result.data;
                                            }
                                        }
                                    })
                                    // vm.getUserList();
                                    $.ajax({
                                        url:"/session/getUserList",
                                        type:"post",
                                        dataType:"json",
                                        headers:{'token':$.cookie("token")},
                                        success:function (result) {
                                            if(result.code == 0){
                                                vm.userList = result.data;
                                            }
                                        }
                                    })
                                }
                            }
                        })
                    }
                    else if(result.data == 1){
                        console.log(1);
                        window.location.href="/user/letter/session.html";
                    }
                }
            })

        }
    });


    $.Lemoji({
        emojiInput: '#inputText',
        emojiBtn: '#emojiBtn',
        position: 'LEFTBOTTOM',
        length: 8,
        emojis: {
            emoji: {path: '../../node_modules/emoji_jQuery-master/static/images/emoji', code: ',', name: 'Emoji表情'},
            qq: {path: '../../node_modules/emoji_jQuery-master/static/images/qq/', code: ':', name: 'QQ表情'},
            tieba: {path: '../../node_modules/emoji_jQuery-master/static/images/tieba', code: ';', name: "贴吧表情"}
        }
    });

    function back(event){
        event = event || window.event;
        if(event.keyCode==13){
            event.returnValue = false;
            var length = $("#inputText").val().length;
            if(length == 0){
                layui.use('layer',function() {
                    var layer = layui.layer;
                    layer.msg("发送内容不能为空，请重新输入");
                })
            }
            else {
                //发送消息
                //userName,letterContent,resourceUrl
                var userName =$(".choose").find(".userName").html();
                if(userName == null)
                {
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请先选择联系人");
                    })
                }
                else
                {
                    var letterContent = $('#inputText').val();
                    content = $.emojiParse({
                        content: letterContent,
                        emojis: [
                            {path: '../../node_modules/emoji_jQuery-master/static/images/emoji/', code: ',', type: 'emoji'},
                            {type: 'qq', path: '../../node_modules/emoji_jQuery-master/static/images/qq/', code: ':'},
                            {path: '../../node_modules/emoji_jQuery-master/static/images/tieba/', code: ';', type: 'tieba'}
                        ]
                    });
                    // var letterContent = $("#inputText").val();
                    console.log(letterContent);
                    // console.log(userName);
                    $.ajax({
                        url:"/rocket/push",
                        type:"post",
                        dataType:"json",
                        data: {
                           msg:content
                        },
                        success:function (result) {
                            console.log(result);
                        }
                    })

                    //websorck发送消息---------------------------------------------------------
                    var myUserName;
                    $.ajax({
                        url:"/userInfo/getUserInfo",
                        headers:{"token":$.cookie("token")},
                        dataType:"json",
                        type:"post",
                        async:false,
                        success:function (res) {
                            if (res.code==0){
                                myUserName=res.data.userName;
                                console.log(myUserName);
                            }
                        },
                        error:function () {
                            layer.msg("未登录或登录过期，请重新登录");
                            setTimeout(function () {
                                window.location.href="/"
                            },1000);
                        }
                    })
                    websocket.send(JSON.stringify({userName:userName,senterName:myUserName}));
                   //---------------------------------------------------------------------------

                    $.ajax({
                        url:"/session/sendMsg",
                        type:"post",
                        dataType:"json",
                        headers:{'token':$.cookie("token")},
                        data: {
                            userName:userName,
                            letterContent:content,
                            // resourceUrl:""
                        },
                        success:function (result) {
                            if(result.code == 0){
                                $("#inputText").val("");
                                $.ajax({
                                    url:"/session/getMessageLog",
                                    type:"post",
                                    dataType:"json",
                                    async:true,
                                    headers:{'token':$.cookie("token")},
                                    data:{
                                        // receiverId:connectionId
                                        userName:userName
                                    },success:function (result) {
                                        if (result.code == 0) {
                                            vm.messageList = result.data;
                                        }
                                    }
                                })
                                // vm.getUserList();
                                $.ajax({
                                    url:"/session/getUserList",
                                    type:"post",
                                    dataType:"json",
                                    headers:{'token':$.cookie("token")},
                                    success:function (result) {
                                        if(result.code == 0){
                                            vm.userList = result.data;
                                        }
                                    }
                                })
                            }
                        }
                    })
                }
            }
            return false;
        }
    }
</script>
<script src="../../node_modules/js/websocket.js"></script>
</body>
</html>