<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>私信</title>

    <meta name="description" content="基于jQuery的表情，QQ表情，贴吧表情，emoji表情">
    <meta name="keywords" content="jQuery,表情插件，js表情插件，jQuery插件，jQuery表情插件，js">

    <link rel="stylesheet" href="../../node_modules/css/navbar.css">
    <link rel="stylesheet" href="../../node_modules/css/footer.css">
    <link rel="stylesheet" href="../../node_modules/css/session.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../node_modules/layui/css/layui.css">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <script src="../../node_modules/bootstrap/js/bootstrap.js"></script>

<!--    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>-->
    <script type="text/javascript" src="../../node_modules/emoji_jQuery-master/dist/emoji_jQuery.min.js"></script>
</head>
<body>
<!---------------导航条---------------->
<header id="circle_navbar">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar_c fixed-top">
            <div class="container-fluid">
                <!------------Logo图标------->
                <a class="navbar-brand col-xs-3 col-md-2" href="index.html">
                    <img src="../../node_modules/images/logo.png" class="img-fluid">
                </a>
                <!------------搜索框----------->
                <form class="form-inline input-group input-group-xs col-xs-8 col-md-4">
                    <input class="form-control" type="search" v-model="inputValue" placeholder="大家正在搜" aria-label="Search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" @click="searchBlog"><i class="zi zi_search"></i></span>
                    </div>
                </form>

                <!------------汉堡按钮------------>
                <button class="navbar-toggler col-xs-2 col-md-1 ml-5" type="button" data-toggle="collapse"
                        data-target="#circle_nav" aria-controls="circle_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width: 25px;margin-left: 5px;margin-right: 5px"></span>
                </button>

                <!------------六个导航按钮--------->
                <div class="collapse navbar-collapse col-lg-6" id="circle_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="userIndex.html"><i class="icon icon-home"></i>首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../circle/circleRank.html"><i class="icon icon-aperture"></i>圈子</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../letter/session.html"><i class="icon icon-mail"></i>私信</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../user-center/personal.html"><i class="icon icon-user"></i>用户</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="newRegister.html" target="_blank">注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModalT">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 导航条模态框 -->
        <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">账号登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mr-3 input-group d-flex align-items-center mb-2">
                            <i class="icon icon-user mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="text" placeholder="请输入账号" onclick="this.placeholder='' " v-model="loginName">
                        </div>
                        <div class="mr-3 input-group d-flex align-items-center mb-1">
                            <i class="icon icon-lock mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="password" placeholder="请输入密码" onclick="this.placeholder='' " v-model="password">
                        </div>
                        <a href="retrieve.html" target="_blank" class="d-flex flex-end">忘记密码？</a>
                        <button type="button" class="btn btn-block bg-info mt-2" @click="login">立即登录</button>

                        <div class="row ml-2">
                            <span style="font-size: 14px">还没有账号？<a href="newRegister.html" target="_blank" style="color: #c7254e">立刻注册</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid">-->
    <!--<iframe id="headerFrame" name="headerFrame" width="100%" src="../../navbar.html" frameborder="0" scrolling="no"></iframe>-->
    <!--</div>-->
</header>

<div class="container">
    <div class="row" id="top20">
        <!-- 会话列表 -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-lg-offset-1" id="ConversationList">
            <!-- 个人信息 -->
            <div class="row" id="userInfo">
                <!-- 头像 -->
                <div class="imgBox left">
                    <img :src="userInfo.avatarUrl" alt="用户头像" class="imgSize">
                </div>
                <!-- 用户名 -->
                <div class=left">
                    <span v-text="userInfo.userName" id="myName"></span>
                </div>
            </div>
            <!-- 搜索栏 -->
            <div class="row" id="friends" style="background-color: #232212">
                会话列表
            </div>
            <!-- 会话 -->
            <div class="row list" v-for="(item,i) in userList" @click = "clickFriends(i);getMsg(i)" >
                <!-- 头像 -->
                <div class="imgBox left">
                    <img :src="item.avatarUrl" alt="用户头像" class="imgSize" >
                </div>
                <!-- 用户名 -->
                <div class=left">
                    <span class="userName left" v-text="item.userName" ></span>
                </div>
                <!-- 最近一条消息的时间 -->
                <div>
                    <span class="lastMsgTime right" v-text="item.sendTime"></span>
                </div>
                <!-- 消息概况 -->
                <div>
                    <span class="listText left" v-html = "item.letterContent"></span>
                </div>
            </div>
        </div>

        <!-- 会话详情 -->
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" id="ConversationDetails">
            <!-- 历史消息$联系人信息 -->
            <div class="row" id="message">
                <!-- 顶部：联系人信息 -->
                <div id="messageTitle">
                    <span id="contactName" class="left">您还未选中或发起聊天，快去跟好友聊一聊吧</span>
                </div>
                <!-- 历史消息 -->
                <div id = "msgContent" >
                    <!-- 接收信息示例 -->
                    <div class="messageBigBox left" v-for="(item,i) in messageList">
                        <!-- 信息发送时间 -->
                        <div class="time">
                            <span>{{item.sendTime}}</span>
                        </div>
                        <!-- 用户的头像 -->
                        <div class="smallImgBox right" v-show="item.senterId == userInfo.userId">
                            <img :src="userInfo.avatarUrl" alt="用户头像" class="imgSize" >
                        </div>
                        <!-- 聊天对象的头像 -->
                        <div class="smallImgBox left" v-show="item.senterId != userInfo.userId">
                            <img :src="item.avatarUrl" alt="用户头像" class="imgSize">
                        </div>

                        <!-- 发送消息 -->
                        <div class="messageMiddleBox right" v-show="item.senterId == userInfo.userId">
                            <div class="messageBox right" v-if="item.resourceUrl == null">
                                <p v-html = "item.letterContent"></p>
<!--                                <p >{{item.letterContent}} </p>-->
                            </div>
                            <div class="messageBox right" v-if="item.resourceUrl != null">
                                <img :src="item.resourceUrl" style="width: 100px">
                            </div>
                        </div>
                        <!-- 接收消息 -->
                        <div class="messageMiddleBox left" v-show="item.senterId != userInfo.userId">
                            <div class="messageBox left" v-if = "item.resourceUrl == null">
                                <p v-html = "item.letterContent"></p>
                            </div>
                            <div class="messageBox left" v-if="item.resourceUrl != null">
                                <img :src="item.resourceUrl" style="width: 100px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 输入 -->
            <div class="row" id="editBox">
                <div id="inputLogo">
<!--                    <div class="bLogoBox left">-->
<!--                        <img src="../../node_modules/images/smile.png">-->
<!--                    </div>-->
                    <div class="bLogoBox left">
                        <input type="file" id="file" style="display: none" @change="upLoad">
                        <label for="file">
                            <img src="../../node_modules/images/photo.png" style="margin-left: 33px">
                        </label>
                    </div>
                </div>
                <!-- 输入内容 -->
                <textarea rows="5" cols="91" id="inputText"  onkeypress="back(event);"  placeholder="按下Enter回车键发送内容">
                </textarea>
            </div>
        </div>
    </div>
</div>
<button  id = "emojiBtn" style="border: none;background-color: white">
    <img src="../../node_modules/images/smile.png" style="width: 20px;height: 20px;">
</button>

<script>
    //导航条搜索登录功能
    let vm = new Vue({
        el: '#circle_navbar',
        data: {
            inputValue: '',
            loginName: '',
            password: ''
        },methods:{
            //搜索功能
            searchBlog(){
                if (this.inputValue==''){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("搜索不能为空");
                    })
                }else {
                    window.location.href = "/user/blog/blog.html?content=" + this.inputValue
                }
            },

            //登录
            login:function () {
                if (this.loginName==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机/用户名/邮箱！");
                    })
                }else if (this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入密码！");
                    })
                }else{
                    $.ajax({
                        url: "/userLogin/login",
                        type: "post",
                        data: {
                            loginName: this.loginName,
                            password: this.password,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆成功！");
                                });
                                window.location.href = "/user/index/userIndex.html";
                                $.cookie("token", result.data.token, {path: "/"});
                            } else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆失败！");
                                })
                            }
                        }
                    })
                }
            }
        }

    });
</script>
<script>
    var flag = 1;

    $(document).ready(function() {
        var url =decodeURI(location.search);
        console.log(url);
        if(url == ""||url==null)
        {
            console.log("非页面间传值");
        }
        else {
            // console.log(url);
            var sendName = url.substr(10);
            // var sendName = url;
            // console.log(sendName);
            //查询是否存在记录
            $.ajax({
                url:"/session/selectSession",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                data: {
                    userName:sendName
                },
                success:function (result) {
                    if(result.data == 0)
                    {
                        $.ajax({
                            url:"/session/sendMsg",
                            type:"post",
                            dataType:"json",
                            headers:{'token':$.cookie("token")},
                            data: {
                                userName:sendName,
                                letterContent:"你好呀",
                                // resourceUrl:""
                            },
                            success:function (result) {
                                window.location.href="/user/letter/session.html";
                                if(result.code == 0){
                                    $("#inputText").val("");
                                    $.ajax({
                                        url:"/session/getMessageLog",
                                        type:"post",
                                        dataType:"json",
                                        async:true,
                                        headers:{'token':$.cookie("token")},
                                        data:{
                                            // receiverId:connectionId
                                            userName:sendName
                                        },success:function (result) {
                                            if (result.code == 0) {
                                                vm.messageList = result.data;
                                            }
                                        }
                                    })
                                    // vm.getUserList();
                                    $.ajax({
                                        url:"/session/getUserList",
                                        type:"post",
                                        dataType:"json",
                                        headers:{'token':$.cookie("token")},
                                        success:function (result) {
                                            if(result.code == 0){
                                                vm.userList = result.data;
                                            }
                                        }
                                    })
                                }
                            }
                        })
                    }
                    else if(result.data == 1){
                        console.log(1);
                        window.location.href="/user/letter/session.html";
                    }
                }
            })

        }
    });


    $.Lemoji({
        emojiInput: '#inputText',
        emojiBtn: '#emojiBtn',
        position: 'LEFTBOTTOM',
        length: 8,
        emojis: {
            emoji: {path: '../../node_modules/emoji_jQuery-master/static/images/emoji', code: ',', name: 'Emoji表情'},
            qq: {path: '../../node_modules/emoji_jQuery-master/static/images/qq/', code: ':', name: 'QQ表情'},
            tieba: {path: '../../node_modules/emoji_jQuery-master/static/images/tieba', code: ';', name: "贴吧表情"}
        }
    });

    function back(event){
        event = event || window.event;
        if(event.keyCode==13){
            event.returnValue = false;
            var length = $("#inputText").val().length;
            if(length == 0){
                layui.use('layer',function() {
                    var layer = layui.layer;
                    layer.msg("发送内容不能为空，请重新输入");
                })
            }
            else {
                //发送消息
                //userName,letterContent,resourceUrl
                var userName =$(".choose").find(".userName").html();
                if(userName == null)
                {
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请先选择联系人");
                    })
                }
                else
                {
                    var letterContent = $('#inputText').val();
                    content = $.emojiParse({
                        content: letterContent,
                        emojis: [
                            {path: '../../node_modules/emoji_jQuery-master/static/images/emoji/', code: ',', type: 'emoji'},
                            {type: 'qq', path: '../../node_modules/emoji_jQuery-master/static/images/qq/', code: ':'},
                            {path: '../../node_modules/emoji_jQuery-master/static/images/tieba/', code: ';', type: 'tieba'}
                        ]
                    });
                    // var letterContent = $("#inputText").val();
                    console.log(letterContent);
                    // console.log(userName);
                    $.ajax({
                        url:"/rocket/push",
                        type:"post",
                        dataType:"json",
                        data: {
                           msg:content
                        },
                        success:function (result) {
                            console.log(result);
                        }
                    })

                    //websorck发送消息---------------------------------------------------------
                    var myUserName;
                    $.ajax({
                        url:"/userInfo/getUserInfo",
                        headers:{"token":$.cookie("token")},
                        dataType:"json",
                        type:"post",
                        async:false,
                        success:function (res) {
                            if (res.code==0){
                                myUserName=res.data.userName;
                                console.log(myUserName);
                            }
                        },
                        error:function () {
                            layer.msg("未登录或登录过期，请重新登录");
                            setTimeout(function () {
                                window.location.href="/"
                            },1000);
                        }
                    })
                    websocket.send(JSON.stringify({userName:userName,senterName:myUserName}));
                   //---------------------------------------------------------------------------

                    $.ajax({
                        url:"/session/sendMsg",
                        type:"post",
                        dataType:"json",
                        headers:{'token':$.cookie("token")},
                        data: {
                            userName:userName,
                            letterContent:content,
                            // resourceUrl:""
                        },
                        success:function (result) {
                            if(result.code == 0){
                                $("#inputText").val("");
                                $.ajax({
                                    url:"/session/getMessageLog",
                                    type:"post",
                                    dataType:"json",
                                    async:true,
                                    headers:{'token':$.cookie("token")},
                                    data:{
                                        // receiverId:connectionId
                                        userName:userName
                                    },success:function (result) {
                                        if (result.code == 0) {
                                            vm.messageList = result.data;
                                        }
                                    }
                                })
                                // vm.getUserList();
                                $.ajax({
                                    url:"/session/getUserList",
                                    type:"post",
                                    dataType:"json",
                                    headers:{'token':$.cookie("token")},
                                    success:function (result) {
                                        if(result.code == 0){
                                            vm.userList = result.data;
                                        }
                                    }
                                })
                            }
                        }
                    })
                }
            }
            return false;
        }
    }

    //绑定用户信息以及好友列表
    var vm = new Vue({
        el:"#top20",
        data:{
            userInfo:{
                // avatarUrl: "",
                // userName: "",
                // userId: ""
            },
            userList:[{
                // avatarUrl: "",
                // letterContent: "",
                // userName: "",
                // userId: "",
                // sendTime: ""
            }],
            messageList:[{
                senterId:"",//发送者
                letterContent:"",//内容
                resourceUrl:"",
                type:"",
                sendTime:"", //发送时间
            }],
            file:''
        },
        methods: {
            getMsg:function(i){
                //当前聊天对象的id
                var connectionId = vm.userList[i].userId;
                var userName = vm.userList[i].userName;
                $.ajax({
                    url:"/session/getMessageLog",
                    type:"post",
                    dataType:"json",
                    // async:true,
                    headers:{'token':$.cookie("token")},
                    data:{
                        // receiverId:connectionId
                        userName:userName
                    },success:function (result) {
                        if (result.code == 0) {
                            vm.messageList = result.data;
                        }
                    }
                })
            },
            clickFriends: function (i) {
                //先将所有的list的背景颜色初始化，包括去掉右边框
                // $(".list").css({"background-color": "#383838"});
                $(".list").removeClass("choose");
                $(".list").css({"border": "none"});
                $(".list").css({"border-bottom": "1px solid black"});
                // 将点击的那一个list的div的背景颜色进行更改，加上右边框
                var $now = $(".list").eq(i);
                // $now.css({"background-color": "#232212"});
                $now.addClass("choose");
                $now.css({"border-right": "2px solid #ff5500"});
                $now.css({"border-bottom": "1px solid black"});
                $("#contactName").html($now.find(".userName").html());

            },
            //获取发送者的消息 （在线聊天用）
            getOnlineMsg:function(senterName){
                //当前聊天对象的id
                var userName = senterName;
                $.ajax({
                    url:"/session/getMessageLog",
                    type:"post",
                    dataType:"json",
                    // async:true,
                    headers:{'token':$.cookie("token")},
                    data:{
                        // receiverId:connectionId
                        userName:userName
                    },success:function (result) {
                        if (result.code == 0) {
                            vm.messageList = result.data;
                        }
                    }
                })
            },
            upLoad:function(e) {
                this.file = e.target.files[0];
                var formData = new FormData();
                formData.append("file",this.file);
                $.ajax({
                    url : "/session/test",
                    type : 'POST',
                    data : formData,
                    headers:{'token':$.cookie("token")},
                    processData: false,
                    contentType: false,
                    success : function(result) {
                        console.log(result.data);
                        if (result.code == 0){
                            var userName =$(".choose").find(".userName").html();
                            if(userName == null)
                            {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("请先选择联系人");
                                })
                            }
                            else
                            {
                                $.ajax({
                                    url:"/session/sendMsg",
                                    type:"post",
                                    dataType:"json",
                                    headers:{'token':$.cookie("token")},
                                    data: {
                                        userName:userName,
                                        // letterContent:"",
                                        resourceUrl:result.data                                    },
                                    success:function (result) {
                                        if(result.code == 0){
                                            $("#inputText").val("");
                                            $.ajax({
                                                url:"/session/getMessageLog",
                                                type:"post",
                                                dataType:"json",
                                                async:true,
                                                headers:{'token':$.cookie("token")},
                                                data:{
                                                    // receiverId:connectionId
                                                    userName:userName
                                                },success:function (result) {
                                                    if (result.code == 0) {
                                                        vm.messageList = result.data;
                                                    }
                                                }
                                            })
                                            // vm.getUserList();
                                            $.ajax({
                                                url:"/session/getUserList",
                                                type:"post",
                                                dataType:"json",
                                                headers:{'token':$.cookie("token")},
                                                success:function (result) {
                                                    if(result.code == 0){
                                                        vm.userList = result.data;
                                                    }
                                                }
                                            })
                                        }
                                    }
                                })
                            }
                        }
                    }
                });
            }
        },
        created(){
            //获取登陆者的用户信息
            $.ajax({
                url:"/session/getUserInfo",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0){
                        vm.userInfo = result.data;
                    }
                }
            })
            //获取会话列表
            function getUserList()
            {
                $.ajax({
                    url:"/session/getUserList",
                    type:"post",
                    dataType:"json",
                    headers:{'token':$.cookie("token")},
                    success:function (result) {
                        if(result.code == 0){
                            vm.userList = result.data;
                        }
                    }
                })
                // $(".list").eq(0).css("border","5px solid red");

                // $(".list").eq(0).addClass("choose");
                // vm.clickFriends(0);
                // vm.getMsg(0);
            }
            getUserList();

        }
        ,updated()
        {
            this.$nextTick(function () {
                var content = document.getElementById("msgContent");
                // console.log("+" + content.scrollTop);
                if (content != null) {
                    content.scrollTop = content.scrollHeight;
                }

            })

            // console.log("1"+vm.userList[0].userName);
            if(flag === 1)
            {
                flag = 2;
                if(vm.userList[0].userName != null)
                {
                    var userName = vm.userList[0].userName;
                    // console.log("userName1" + userName);

                }
            }
            else if (flag === 2){
                vm.clickFriends(0);
                if(vm.userList[0] != null){
                    var userName = vm.userList[0].userName;
                    // console.log("userName2" + userName);
                    $.ajax({
                        url:"/session/getMessageLog",
                        type:"post",
                        dataType:"json",
                        // async:true,
                        headers:{'token':$.cookie("token")},
                        data:{
                            // receiverId:connectionId
                            userName:userName
                        },success:function (result) {
                            if (result.code == 0) {
                                vm.messageList = result.data;
                            }
                        }
                    })
                }
                flag=3;

            }
            // flag = false;
        }
    })


</script>
<script src="../../node_modules/js/websocket.js"></script>
</body>
</html>