<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>个人信息</title>
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/css/top.css">
    <link rel="stylesheet" href="../../node_modules/css/settingInfo.css">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/at-ui/dist/at.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
</head>
<body>
<div id="app" class="container">
    <div class="row top-header">
        <div class="col-md-3 logo">
            <img src="../../node_modules/images/logo.png" class="img-up">
        </div>
        <div class="col-md-9">
            <at-input v-model="inputValue4" placeholder="请输入内容" append-button class="top-search">
                <template slot="append">
                    <i class="icon icon-search"></i>
                </template>
            </at-input>
        </div>
        <div class="col-md-7 col-md-offset-5">
            <a href="../../Index.html" class="top-font-size"><i class="icon icon-home"></i>首页</a>
            <a href="../../user/circle/circle.html" class="top-font-size"><i class="icon icon-aperture"></i>圈子</a>
            <a href="../../user/letter/session.html" class="top-font-size"><i class="icon icon-mail"></i>私信</a>
            <a href="../../user/user-center/personal.html" class="top-font-size"><i class="icon icon-user"></i>用户</a>
        </div>
    </div>

    <div class="create-margin">
        <div class="row circle_frame">
            <div class="col-md-3"></div>
            <div class="col-md-18 setting_info">
                <div class="text_481X1">账号设置</div>
                <div class="box_480X1"></div>  <!--水平分隔线-->
                <div class="account_event">
                    <div class="row first_item">
                        <div class="row avatar_box col-md-11">
                            <span class="text_485X1">用户头像</span>
                            <input type="file" ref="file" @change="getFile" name="file" id="file" style="display: none">
                            <label for="file"><img :src="userInfo.avatarUrl" class="avatarUrl"></label>
                            <label for="file"><span class="text_487X1 flex-center">编辑</span></label>
                        </div>
                        <div class="row account_box col-md-11">
                            <span class="text_485X1">账户状态</span>
                            <span class="account_status" v-text="userInfo.status"></span>
                        </div>
                    </div>

                    <div class="row info_item">
                        <span class="text_485X1 col-md-6">用户名</span>
                        <span id="showName" class="show_info col-md-15" v-text="userInfo.userName"></span>
                        <span class="text_487X1 col-md-2 flex-center" @click="showNameInput()">编辑</span>
                    </div>
                    <div id="changeName" class="row change_info_item" style="display: none">
                        <span class="text_485X1 col-md-6">修改昵称</span>
                        <input id="changeNameInput" type="text" v-model="forwardInput1">
                        <span class="text_487X1 col-md-2 flex-center" @click="submitName()">确定</span>
                    </div>

                    <!--<div class="row info_item">-->
                        <!--<span class="text_485X1 col-md-6">密码</span>-->
                        <!--<span id="showPass" class="show_info col-md-15" v-text="userInfo.password"></span>-->
                        <!--<span class="text_487X1 col-md-2 flex-center" @click="showPassInput()">编辑</span>-->
                    <!--</div>-->
                    <!--<div id="changePass" class="row change_info_item" style="display: none">-->
                        <!--<span class="text_485X1 col-md-6">修改密码</span>-->
                        <!--<input id="changePassInput" type="text" v-model="forwardInput2">-->
                        <!--<span class="text_487X1 col-md-2 flex-center" @click="submitPass()">确定</span>-->
                    <!--</div>-->

                    <div class="row info_item">
                        <span class="text_485X1 col-md-6">手机号</span>
                        <span class="show_info col-md-15" v-text="userInfo.phone"></span>
                    </div>

                    <div class="row info_item">
                        <span class="text_485X1 col-md-6">邮箱</span>
                        <span id="showEmail" class="show_info col-md-15" v-text="userInfo.email"></span>
                        <span class="text_487X1 col-md-2 flex-center" @click="showEmailInput()">编辑</span>
                    </div>
                    <div id="changeEmail" class="row change_info_item" style="display: none">
                        <span class="text_485X1 col-md-6">修改邮箱</span>
                        <input id="changeEmailInput" type="text" v-model="forwardInput2">
                        <span class="text_487X1 col-md-2 flex-center" @click="submitEmail()">确定</span>
                    </div>

                    <div class="row info_item">
                        <span class="text_485X1 col-md-6">性别</span>
                        <span class="show_info col-md-15" v-text="userInfo.sex"></span>
                        <span class="text_487X1 col-md-2 flex-center" @click="showSexInput()">编辑</span>
                    </div>
                    <div id="changeSex" class="row change_info_item" style="display: none">
                        <span class="text_485X1 col-md-6">设置性别</span>
                        <input id="changeSexInput" type="text" v-model="forwardInput3">
                        <em style="color: red">请输入数字：0-保密；1-男；2-女</em>
                        <span class="text_487X1 col-md-2 flex-center" @click="submitSex()">确定</span>
                    </div>

                    <div class="row info_item">
                        <span class="text_485X1 col-md-6">感情状况</span>
                        <span class="show_info col-md-15" v-text="userInfo.isSingle"></span>
                        <span class="text_487X1 col-md-2 flex-center" @click="showSingleInput()">编辑</span>
                    </div>
                    <div id="changeSingle" class="row change_info_item" style="display: none">
                        <span class="text_485X1 col-md-6">修改感情状况</span>
                        <input id="changeSingleInput" type="text" v-model="forwardInput4">
                        <em style="color: red">请输入数字：0-保密；1-单身；2-恋爱</em>
                        <span class="text_487X1 col-md-2 flex-center" @click="submitSingle()">确定</span>
                    </div>

                    <div class="row info_item">
                        <span class="text_485X1 col-md-6">生日</span>
                        <span class="show_info col-md-15" v-text="userInfo.birthday"></span>
                        <span class="text_487X1 col-md-2 flex-center" @click="showBirthInput()">编辑</span>
                    </div>
                    <div id="changeBirth" class="row change_info_item" style="display: none">
                        <span class="text_485X1 col-md-6">设置生日</span>
                        <input id="changeBirthInput" type="text" v-model="forwardInput5">
                        <span class="text_487X1 col-md-2 flex-center" @click="submitBirth()">确定</span>
                    </div>

                    <div class="row info_item">
                        <span class="text_485X1 col-md-6">注册时间</span>
                        <span class="show_info col-md-15" v-text="userInfo.createTime"></span>
                    </div>

                    <div class="row info_item">
                        <span class="text_485X1 col-md-6">所在地</span>
                        <span class="show_info col-md-15" v-text="userInfo.address"></span>
                        <span class="text_487X1 col-md-2 flex-center" @click="showAddressInput()">编辑</span>
                    </div>
                    <div id="changeAddress" class="row change_info_item" style="display: none">
                        <span class="text_485X1 col-md-6">修改所在地</span>
                        <input id="changeAddressInput" type="text" v-model="forwardInput6">
                        <span class="text_487X1 col-md-2 flex-center" @click="submitAddress()">确定</span>
                    </div>

                    <div class="row info_item">
                        <span class="text_485X1 col-md-6">是否注销</span>
                        <span class="show_info col-md-15" v-text="userInfo.isDelete"></span>
                        <!--<span class="text_487X1 col-md-2 flex-center">这个能改吗？</span>-->
                    </div>
                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data:{
            inputValue4:'',
            userInfo:{},
            forwardInput1:'',
            forwardInput2:'',
            forwardInput3:'',
            forwardInput4:'',
            forwardInput5:'',
            forwardInput6:''
        },
        methods:{
            getFile(e) {
                let _this = this
                var files = e.target.files[0]
                if (!e || !window.FileReader) return  // 看支持不支持FileReader
                let reader = new FileReader()
                reader.readAsDataURL(files) // 这里是最关键的一步，转换就在这里
                reader.onloadend = function () {
                    _this.userImgUrl = this.result;
                    //点击大头像，同时循环给每一个card换头像
                    for (var i=0; i<Object.keys('myBlogList').length;i++){
                        _this.myBlogList[i].userImgUrl = this.result;
                    }
                }
            },
            showNameInput(){
                $("#changeName").css("display","block");
            },
            showEmailInput(){
                $("#changeEmail").css("display","block");
            },
            showSexInput(){
                $("#changeSex").css("display","block");
            },
            showSingleInput(){
                $("#changeSingle").css("display","block");
            },
            showBirthInput(){
                $("#changeBirth").css("display","block");
            },
            showAddressInput(){
                $("#changeAddress").css("display","block");
            },
            submitName(userId) {
                $.ajax({
                    url:"/userInfo/updateUserInfo",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        userId: userId,
                        userName: this.forwardInput1,
                    },
                    success:function (result) {
                        if(result.code == 0){
                            $("#showName").html($("#changeNameInput").val());
                            $("#changeName").css("display","none");
                        }
                    }
                })
            },
            submitEmail(userId) {
                $.ajax({
                    url:"/userInfo/updateUserInfo",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        userId:userId,
                        email: this.forwardInput2,
                    },
                    success:function (result) {
                        if(result.code == 0){
                            $("#showEmail").html($("#changeEmailInput").val());
                            $("#changeEmail").css("display","none");
                        }
                    }
                })
            },
            submitSex(userId) {
                $.ajax({
                    url:"/userInfo/updateUserInfo",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        userId:userId,
                        sex: this.forwardInput3,
                    },
                    success:function (result) {
                        if(result.code == 0){
                            if($("#changeSexInput").val()==0){
                                vm.userInfo.sex = "保密";
                            }else if ($("#changeSexInput").val()==1) {
                                vm.userInfo.sex = "男";
                            }else if ($("#changeSexInput").val()==2) {
                                vm.userInfo.sex = "女";
                            }
                            $("#changeSex").css("display","none");
                        }
                    }
                })
            },
            submitSingle(userId) {
                $.ajax({
                    url:"/userInfo/updateUserInfo",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        userId:userId,
                        isSingle: this.forwardInput4,
                    },
                    success:function (result) {
                        if(result.code == 0){
                            if($("#changeSingleInput").val()==0){
                                vm.userInfo.isSingle = "保密";
                            }else if ($("#changeSingleInput").val()==1) {
                                vm.userInfo.isSingle = "单身";
                            }else if ($("#changeSingleInput").val()==2) {
                                vm.userInfo.isSingle = "恋爱";
                            }
                            $("#changeSingle").css("display","none");
                        }
                    }
                })
            },
            submitBirth(userId) {
                $.ajax({
                    url:"/userInfo/updateUserInfo",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        userId:userId,
                        birthday: this.forwardInput5,
                    },
                    success:function (result) {
                        if(result.code == 0){
                            $("#showBirth").html($("#changeBirthInput").val());
                            $("#changeBirth").css("display","none");
                        }
                    }
                })
            },
            submitAddress(userId) {
                $.ajax({
                    url:"/userInfo/updateUserInfo",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        userId:userId,
                        address: this.forwardInput6,
                    },
                    success:function (result) {
                        if(result.code == 0){
                            $("#showAddress").html($("#changeAddressInput").val());
                            $("#changeAddress").css("display","none");
                        }
                    }
                })
            },


        },
        created(){
            $.ajax({
                url:"/userInfo/getUserInfo",
                type:"post",
                dataType:"json",
                headers:{'token':$.cookie("token")},
                success:function (result) {
                    if(result.code == 0) {
                        vm.userInfo = result.data;
                        //判断性别
                        if(result.data.sex==0){
                            vm.userInfo.sex = "保密";
                        }else if(result.data.sex==1){
                            vm.userInfo.sex = "男";
                        }else if(result.data.sex==2){
                            vm.userInfo.sex = "女";
                        }
                        //判断感情状况
                        if(result.data.isSingle == 0){
                            vm.userInfo.isSingle = "保密";
                        }else if(result.data.isSingle == 1){
                            vm.userInfo.isSingle = "单身";
                        }else if(result.data.isSingle == 2){
                            vm.userInfo.isSingle = "恋爱";
                        }
                        //判断账号状态
                        if(result.data.status == 0){
                            vm.userInfo.status = "正常";
                        }else{
                            vm.userInfo.status = "封禁";
                        }
                        //判断是否注销
                        if(result.data.isDelete == 0){
                            vm.userInfo.isDelete = "正常";
                        }else{
                            vm.userInfo.isDelete = "注销";
                        }
                    }
                }
            })
        }
    })
</script>
</html>