<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>进入圈子</title>
    <link rel="stylesheet" href="../../node_modules/css/navbar.css">
    <link rel="stylesheet" href="../../node_modules/css/footer.css">
    <link rel="stylesheet" href="../../node_modules/css/blog.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <script src="../../node_modules/bootstrap/js/bootstrap.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<!---------------导航条---------------->
<header id="circle_navbar">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar_c fixed-top">
            <div class="container-fluid">
                <!------------Logo图标------->
                <a class="navbar-brand col-xs-3 col-md-2" href="../index/index.html">
                    <img src="../../node_modules/images/logo.png" class="img-fluid">
                </a>
                <!------------搜索框----------->
                <form class="form-inline input-group input-group-xs col-xs-8 col-md-4">
                    <input class="form-control" type="search" v-model="inputValue" placeholder="发现身边的事！" aria-label="Search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="zi zi_search" @click="searchBlog"></i></span>
                    </div>
                </form>

                <!------------汉堡按钮------------>
                <button class="navbar-toggler col-xs-2 col-md-1 ml-5" type="button" data-toggle="collapse"
                        data-target="#circle_nav" aria-controls="circle_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width: 25px;margin-left: 5px;margin-right: 5px"></span>
                </button>

                <!------------六个导航按钮--------->
                <div class="collapse navbar-collapse col-lg-6" id="circle_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="userIndex.html"><i class="icon icon-home"></i>首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../circle/circleRank.html"><i class="icon icon-aperture"></i>圈子</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../letter/session.html"><i class="icon icon-mail"></i>私信</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../user-center/personal.html"><i class="icon icon-user"></i>用户</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="newRegister.html" target="_blank">注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModalT">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 导航条模态框 -->
        <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">账号登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mr-3 input-group d-flex align-items-center mb-2">
                            <i class="icon icon-user mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="text" placeholder="请输入账号" onclick="this.placeholder='' " v-model="loginName">
                        </div>
                        <div class="mr-3 input-group d-flex align-items-center mb-1">
                            <i class="icon icon-lock mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="password" placeholder="请输入密码" onclick="this.placeholder='' " v-model="password">
                        </div>
                        <a href="retrieve.html" target="_blank" class="d-flex flex-end">忘记密码？</a>
                        <button type="button" class="btn btn-block bg-info mt-2" @click="login">立即登录</button>

                        <div class="row ml-2">
                            <span style="font-size: 14px">还没有账号？<a href="newRegister.html" target="_blank" style="color: #c7254e">立刻注册</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid">-->
    <!--<iframe id="headerFrame" name="headerFrame" width="100%" src="../../navbar.html" frameborder="0" scrolling="no"></iframe>-->
    <!--</div>-->
</header>

<section id="search_blog" class="container-fluid">
    <div class="col-md-8 col-md-offset-4">
        <div id="c_search">
            <!--------------圈内搜索------------->
            <div class="row d-flex align-items-center">
                <img src="../../node_modules/images/logo.png" class="img-fluid col-3 col-md-2">
                <input type="text" class="form-control col-5" v-model="searchVal" placeholder="请输入内容">
                <button class="btn btn-outline-primary col-2 m-2 pl-0 pr-0" type="button" @click="searchIncircle">圈内搜索</button>
                <h5 class="ml-3">发现身边的事！</h5>
            </div>

            <!------------圈名部分------------->
            <div class="row mt-5">
                <img :src="circleItem.circleImgUrl" width="60px" class="mr-3">
                <div>
                    <h5 v-text="circleItem.circleName"></h5>
                    <span v-cloak>帖子：{{circleItem.blogNum}}</span>
                </div>
            </div>
            <!------------圈子主题------------->
            <div class="row mt-3" style="font-size: 14px">
                <div class="col-12 col-md-5 text-left no-gutters" v-cloak>圈子主题：{{circleItem.circleTitle}}</div>
                <div class="col-md-7">
                    <a @click.prevent="jumpPagePerson1(circleItem.userId)" v-cloak>创建人:{{circleItem.createName}}</a>
                    <span class="ml-3" v-cloak>创建时间:{{circleItem.createTime}}</span>
                    <a class="ml-3" href="createCircle.html">创建圈子 ></a>
                </div>
            </div>
        </div>
        <!----------------微博展示部分------------->
        <div id="left_section" class="mt-3">
            <div id="content_show">
                <!---------------一个blogItem-------------->
                <div id="blog_content" class="rounded mb-3" v-for="(item,i) in blogInfoList">
                    <!---------------控制头-------------->
                    <div class="row justify-content-between">
                        <div class="media d-flex align-items-center m-1 mb-3 p-2 col-md-7">
                            <div class="media-left mr-2">
                                <a @click="jumpPagePerson(item.userId)" class="d-block d-flex" style="width: 80px;height: 80px">
                                    <img :src="item.avatarUrl" alt="用户头像" class="media-object rounded-circle img-fluid img-thumbnail m-0">
                                </a>
                            </div>
                            <div class="media-body">
                                <a style="font-size: 20px" class="mb-0" @click="jumpPagePerson(item.userId)" v-cloak>
                                    {{item.userName}}</a>
                                <p class="text-muted mb-0" v-cloak>{{item.createTime}}</p>
                            </div>
                        </div>

                        <div class="col-md-3 mt-md-3 mr-3" v-if="item.isRepost == 0">
                            <span class="badge badge-pill badge-success mb-2">原创</span>
                            <a class="badge badge-info text-white" @click="toCircle(item.circleId)" v-cloak>{{item.circleName}}</a>
                        </div>
                        <div class="col-md-3 mt-md-3 mr-3" v-if="item.isRepost == 1">
                            <span class="badge badge-pill badge-warning mb-2">转载</span>
                            <a class="badge badge-info text-white" @click="toCircle(item.circleId)"  v-cloak>{{item.circleName}}</a>
                        </div>
                    </div>

                    <!-----------原创展示----------->
                    <div v-if="item.isRepost == 0" class="p-3">
                        <p class="text-wrap mt-n3" style="font-size: 16px" v-cloak>{{item.content}}</p>
                        <!--------发图片--------->
                        <div class="row" v-if="item.type == 1">
                            <div v-for="(urlList,i) in item.resourceList" class="col-4 d-flex align-items-stretch">
                                <img :src="urlList" class="img-fluid m-1">
                            </div>
                        </div>

                        <!----------发视频--------->
                        <div class="row" v-if="item.type == 2">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" :src="item.resourceList[0]" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <!-----------转载展示----------->
                    <div v-if="item.isRepost == 1" class="p-3">
                        <p class="text-wrap mt-n3" style="font-size: 16px" v-cloak>{{item.content}}</p>
                        <!-----------原创展示----------->
                        <div v-if="item.blogInfo.isRepost == 0" class="original_box rounded-lg p-3">
                            <div class="row justify-content-between">
                                <div class="media d-flex align-items-center m-1 mb-3 p-2 col-md-7">
                                    <div class="media-left mr-2">
                                        <a @click="jumpPagePerson(item.blogInfo.userId)" class="d-block d-flex" style="width: 60px;height: 60px">
                                            <img :src="item.blogInfo.avatarUrl" alt="用户头像" class="media-object rounded-circle img-fluid">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a style="font-size: 18px" class="mb-0" @click="jumpPagePerson(item.blogInfo.userId)" v-cloak>
                                            {{item.blogInfo.userName}}</a>
                                        <p class="text-muted mb-0" v-cloak>{{item.blogInfo.createTime}}</p>
                                    </div>
                                </div>
                            </div>
                            <!--------发图片--------->
                            <div class="row" v-if="item.blogInfo.type == 1">
                                <div v-for="(urlList,i) in item.blogInfo.resourceList" class="col-4 d-flex align-items-stretch">
                                    <img :src="urlList" class="img-fluid m-1" @click="showImg(i)">
                                    <!--<img :src="urlList" class="img-fluid" data-toggle="modal" data-target="#exampleModal">-->
                                </div>
                            </div>

                            <!----------发视频--------->
                            <div class="row" v-if="item.blogInfo.type == 2">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" :src="item.blogInfo.resourceList[0]" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-----------评论点赞相关------------>
                    <div class="row ml-n2 mr-n2 rounded-bottom" style="border: 2px solid #dee2e6">
                        <div style="width: 20%" class="border-right text-center">
                            <a class="icon icon-share" @click.prevent="showForward(i)">转发</a>
                        </div>
                        <div style="width: 20%" class="border-right text-center">
                            <a class="icon icon-edit" @click.prevent="showReview(i,item.blogId)" v-cloak>{{item.commentNum}}</a>
                        </div>
                        <div style="width: 20%" class="border-right text-center">
                            <a class="icon icon-thumbs-up" @click.prevent="like($event,item.blogId)" v-cloak>{{item.likeNum}}</a>
                        </div>
                        <div style="width: 40%" class="text-center">
                            <span v-cloak>{{item.createTime}}</span>
                        </div>
                    </div>

                    <div :class=['addForward',selected==i?'':'hidden']>
                        <div class="input-group m-2">
                            <input type="text" class="forwardInput form-control" v-model="forwardInput">
                            <div class="input-group-append" style="height: 38px">
                                <button type="button" class="btn btn-info btn-sm" @click="forwardBlog($event,item.blogId)">转发</button>
                            </div>
                        </div>
                    </div>
                    <div :class=['addForward',reviewed==i?'':'hidden']>
                        <div class="input-group m-1">
                            <input type="text" class="forwardInput form-control" v-model="forwardInput">
                            <div class="input-group-append" style="height: 38px">
                                <button type="button" class="btn btn-info btn-sm" @click="reviedBlog($event,item.blogId)">发布评论</button>
                            </div>
                        </div>

                        <!----------commentList评论不为空---------->
                        <div v-if="commentList != ''" class="border">
                            <div v-for="comment in commentList" class="border-bottom comment">
                                <div class="row mr-0 ml-0">
                                    <img :src="comment.avatarUrl" class="rounded-circle m-2" width="35" height="35">
                                    <p class="text-muted ml-1 mt-3" v-cloak><b>{{comment.userName}}:</b>{{comment.commentContent}}</p>
                                </div>
                                <div class="row d-flex flex-row-reverse text-muted mt-n3">
                                    <p class="mb-0 mr-3" v-text="comment.commentTime"></p>
                                </div>
                            </div>
                        </div>
                        <!----------commentList评论为空---------->
                        <div v-if="commentList == ''" class="row d-flex justify-content-center">
                            <h6 class="text-muted">还没有人评论呢，快来评论吧！</h6>
                        </div>
                    </div>
                </div>
            </div>

            <!-----------流加载容器--------->
            <ul class="flow-default text-center" style="height: 300px;" id="LAY_demo2"></ul>
        </div>
    </div>
</section>

<!--导航条搜索登录功能vm1-->
<script>
    let vm1 = new Vue({
        el: '#circle_navbar',
        data: {
            inputValue: '',
            loginName: '',
            password: ''
        },methods:{
            //搜索功能
            searchBlog(){
                if (this.inputValue==''){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("搜索不能为空");
                    })
                }else {
                    window.location.href = "/user/blog/blog.html?content=" + this.inputValue
                }
            },

            //登录
            login:function () {
                if (this.loginName==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机/用户名/邮箱！");
                    })
                }else if (this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入密码！");
                    })
                }else{
                    $.ajax({
                        url: "/userLogin/login",
                        type: "post",
                        data: {
                            loginName: this.loginName,
                            password: this.password,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登录成功！");
                                });
                                window.location.href = "/user/index/userIndex.html";
                                $.cookie("token", result.data.token, {path: "/"});
                            } else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登录失败！");
                                })
                            }
                        }
                    })
                }
            }
        }

    });
</script>
<!--圈内搜索vm2-->
<script>
    var vm2 = new Vue({
        el: '#c_search',
        data: {
            circleItem: {},
            searchVal: '',
        },methods:{
            jumpPagePerson1(userId){
                if ($.cookie('token') == null){
                window.location.href = "/user/user-center/personals.html?userId=" + userId;
                }else{
                    $.ajax({
                        url:"/test/testGetUserIdByToken",
                        type:"post",
                        headers:{'token':$.cookie("token")},
                        success:function (result) {
                            if(result.code == 0){
                                if(userId == result.data){
                                    window.location.href="../user-center/personal.html";
                                }else {
                                    window.location.href = "/user/user-center/personals.html?userId=" + userId;
                                }
                            }
                        },error:function () {
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg("请先登录!");
                            })
                        }
                    })
                }
            },
            searchIncircle(){
                if(this.searchVal==''){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("搜索不能为空");
                    })
                }else {
                    $.ajax({
                        url:"/blog/searchBlogInCircle",
                        type:"post",
                        data:{
                            content: this.searchVal,
                            circleId : $.cookie("circleId"),
                        },success:function (result) {
                            vm3.blogInfoList = result.data;
                            vm3.flag="false";
                        }
                    })
                }
            }
        },created(){
            $.ajax({
                url:"/circle/circleInfo",
                type:"post",
                dataType:"json",
                data:{
                  circleId : $.cookie("circleId")
                },
                success:function (result) {
                    if(result.code == 0){
                        vm2.circleItem = result.data;
                    }else {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("圈子里什么都没有啊，快去添加吧！");
                        })
                        setTimeout(function () {
                            window.location.href="/user/index/userIndex.html"
                        },1000)
                    }
                }
            })
        }
    })
</script>
<!--微博加载vm3-->
<script>
    var vm3 = new Vue({
        el: '#content_show',
        data: {
            blogInfoList:[],
            commentList:[],
            pageNum: '1',
            size: '3',
            forwardInput:'',
            selected: 'll',
            reviewed:'ll',
            flag:'true',
        },methods:{
            add(){
                $.ajax({
                    url:"/circle/circleBlog",
                    type:"post",
                    data:{
                        circleId : $.cookie("circleId"),
                        page: this.pageNum,
                        size: this.size
                    },
                    success:function (result) {
                        if(result.code == 0){
                            for(i = 0;i<result.count;i++){
                                vm3.blogInfoList.push(result.data[i]);
                            }
                            vm3.pageNum = parseInt(vm3.pageNum)+1;
                        }
                    }
                })
            },
            showForward(i){
                if(this.selected != i) {
                    this.selected = i;
                    this.reviewed='ll';
                    this.forwardInput='';
                }else {
                    this.selected = 'lll';
                }
            },
            forwardBlog(e,blogId){
                $.ajax({
                    url:"/blog/forwardBlog",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        blogId:blogId,
                        forwardContent: this.forwardInput
                    },
                    success:function (result) {
                        if(result.code == 0){
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("转发成功");
                            })
                            setTimeout(function () {
                                window.location.reload();
                            },1000);
                            vm3.selected = 'll';
                        }
                    },error:function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("请先登录!");
                        })
                        setTimeout(function () {
                            window.location.href="../../../index.html";
                        },1000)

                    }
                })
            },
            showReview(i,blogId){
                if(this.reviewed != i) {
                    this.reviewed = i;
                    this.forwardInput='';
                    this.selected = 'lll';
                    $.ajax({
                        url: "/blog/showComment",
                        type: "post",
                        data: {
                            blogId: blogId,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                vm3.commentList= result.data;
                            }
                        }
                    })
                }else {
                    this.reviewed = 'lll';
                }
            },
            reviedBlog(e,blogId){
                if(this.forwardInput == ''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入评论信息！");
                    })
                }else {
                    $.ajax({
                        url: "/blog/insertComment",
                        type: "post",
                        headers: {'token': $.cookie("token")},
                        data: {
                            blogId: blogId,
                            commentContent: this.forwardInput
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg("评论成功");
                                })
                                vm3.reviewed = 'lll';
                                var x = parseInt(e.target.parentElement.parentElement.parentElement.previousElementSibling.previousElementSibling.firstElementChild.nextElementSibling.firstElementChild.innerHTML);
                                e.target.parentElement.parentElement.parentElement.previousElementSibling.previousElementSibling.firstElementChild.nextElementSibling.firstElementChild.innerHTML = x + 1;
                            }
                        },error:function () {
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg("请先登录");
                            })
                            setTimeout(function () {
                                window.location.href="../../../index.html";
                            },1000)
                        }
                    })
                }
            },
            like(e,blogId){
                $.ajax({
                    url:"/blog/insertLike",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        blogId:blogId
                    },
                    success:function (result) {
                        if(result.code == 0){
                            e.target.innerText = parseInt(e.target.innerText) + 1;
                            e.target.style.color = "blue";
                        }else {
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg(result.msg);
                            })
                            e.target.style.color = "blue";
                        }
                    },error:function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("请先登录");
                        })
                        setTimeout(function () {
                            window.location.href="../../../index.html";
                        },1000)
                    }
                })
            },
            jumpPagePerson(userId){
                if ($.cookie('token') == null){
                    window.location.href = "/user/user-center/personals.html?userId=" + userId;
                }else{
                    $.ajax({
                        url:"/test/testGetUserIdByToken",
                        type:"post",
                        headers:{'token':$.cookie("token")},
                        success:function (result) {
                            if(result.code == 0){
                               if(userId == result.data){
                                   window.location.href="../user-center/personal.html";
                               }else {
                                   window.location.href = "/user/user-center/personals.html?userId=" + userId;
                               }
                            }
                        }
                    })
                }
            }
        },created(){
            $.ajax({
                url:"/circle/circleBlog",
                type:"post",
                data:{
                    circleId : $.cookie("circleId"),
                    page: this.pageNum,
                    size: this.size
                },
                success:function (result) {
                    vm3.pageNum = '1';
                    if(result.code == 0){
                        vm3.blogInfoList = result.data;
                        vm3.pageNum = parseInt(vm3.pageNum)+1;
                    }
                }
            })
        }
    })

    layui.use('flow', function () {
        var flow = layui.flow;

        flow.load({
            elem: '#LAY_demo2' //流加载容器
            , done: function (page, next) { //执行下一页的回调
                //模拟数据插入
                setTimeout(function () {
                    var lis = [];
                    // for(var i = 0; i < 8; i++){
                    //     lis.push('<li>'+ ( (page-1)*8 + i + 1 ) +'</li>')
                    // }

                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < 10000); //假设总页数为 10
                    if (vm3.flag=='true'){
                        vm3.add();
                    }
                }, 500);

            }
        });
    });
</script>
</body>
</html>