<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>圈子</title>
    <link rel="stylesheet" href="../../node_modules/css/navbar.css">
    <link rel="stylesheet" href="../../node_modules/css/footer.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <script src="../../node_modules/bootstrap/js/bootstrap.js"></script>

    <style>
        #circle_rank{
            margin-top: 100px;
        }

        #circle_rank h6{
            color: #6190E8;
        }

        #circle_rank a:hover{
            text-decoration-line: unset;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<!---------------导航条---------------->
<header id="circle_navbar">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar_c fixed-top">
            <div class="container-fluid">
                <!------------Logo图标------->
                <a class="navbar-brand col-xs-3 col-md-2" href="../index/index.html">
                    <img src="../../node_modules/images/logo.png" class="img-fluid">
                </a>
                <!------------搜索框----------->
                <form class="form-inline input-group input-group-xs col-xs-8 col-md-4">
                    <input class="form-control" type="search" v-model="inputValue" placeholder="搜索圈子" aria-label="Search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm"><i class="zi zi_search" @click="searchCircle"></i></span>
                    </div>
                </form>

                <!------------汉堡按钮------------>
                <button class="navbar-toggler col-xs-2 col-md-1 ml-5" type="button" data-toggle="collapse"
                        data-target="#circle_nav" aria-controls="circle_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width: 25px;margin-left: 5px;margin-right: 5px"></span>
                </button>

                <!------------六个导航按钮--------->
                <div class="collapse navbar-collapse col-lg-6" id="circle_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="../index/userIndex.html"><i class="icon icon-home"></i>首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../circle/circleRank.html"><i class="icon icon-aperture"></i>圈子</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../letter/session.html"><i class="icon icon-mail"></i>私信</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../user-center/personal.html"><i class="icon icon-user"></i>用户</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index/register.html" target="_blank">注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModalT">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 导航条模态框 -->
        <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">账号登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mr-3 input-group d-flex align-items-center mb-2">
                            <i class="icon icon-user mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="text" placeholder="请输入账号" onclick="this.placeholder='' " v-model="loginName">
                        </div>
                        <div class="mr-3 input-group d-flex align-items-center mb-1">
                            <i class="icon icon-lock mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="password" placeholder="请输入密码" onclick="this.placeholder='' " v-model="password">
                        </div>
                        <a href="../index/retrieve.html" target="_blank" class="d-flex flex-end">忘记密码？</a>
                        <button type="button" class="btn btn-block bg-info mt-2" @click="login">立即登录</button>

                        <div class="row ml-2">
                            <span style="font-size: 14px">还没有账号？<a href="../index/register.html" target="_blank" style="color: #c7254e">立刻注册</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="circle_rank" class="container">
    <div class="row mb-3">
        <b class="order-0 ml-3">Circle</b>
        <span class="circle-time-num order-3 order-md-2 ml-3 ml-md-5" v-cloak>截至：{{nowTime}} &nbsp;&nbsp;共有：{{circleCount}} 个圈子</span>
        <a href="createCircle.html" class="text-muted order-2 order-md-3 ml-5">都不喜欢？创建自己的圈子 ></a>
    </div>

    <div class="container border rounded-lg p-3">
        <div class="row no-gutters">
            <div class="row no-gutters mt-3 mt-md-5 col-md-6 col-12" v-for="(item,i) in circleList">
                <img :src="item.circleImgUrl" width="80px" height="80px">
                <div class="ml-3">
                    <div class="row flex align-items-center no-gutters">
                        <span class="badge badge-danger" v-if="item.userNum > 5">火热</span>
                        <span class="badge badge-primary" v-if="item.userNum < 6">推荐</span>
                        <a href="circle.html" target="_blank" @click="jumpCircle(item.circleId)" class="ml-2"><h6 class="mb-0" v-text="item.circleName"></h6></a>
                    </div>
                    <span class="text-muted text-truncate d-inline-block mt-2" style="font-size: 14px;max-width: 150px;" v-cloak>{{item.circleTitle}}</span>
                    <div class="row no-gutters text-muted mt-2">
                        <span class="icon icon-user" title="参与人数">{{item.userNum}}</span>
                        <span class="icon icon-message-circle ml-2" title="微博数量">{{item.blogNum}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--导航条搜索圈子、登录功能vm-->
<script>
    let vm = new Vue({
        el: '#circle_navbar',
        data: {
            inputValue: '',
            loginName: '',
            password: ''
        },methods:{
            //搜索功能
            searchCircle(){
                if (this.inputValue==''){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("搜索不能为空");
                    })
                }else {
                    $.ajax({
                        url:"/circle/searchCircleLike",
                        type:"post",
                        data:{
                            name: this.inputValue
                        },
                        success:function (result) {
                            if(result.code == 0){
                                vm1.circleList = result.data;
                                vm1.circleCount = result.count;
                            }else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg(result.msg);
                                })
                                vm1.circleList=[];
                                vm1.circleCount = 0;
                            }
                        },error:function () {

                        }
                    })
                }
            },

            //登录
            login:function () {
                if (this.loginName==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机/用户名/邮箱！");
                    })
                }else if (this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入密码！");
                    })
                }else{
                    $.ajax({
                        url: "/userLogin/login",
                        type: "post",
                        data: {
                            loginName: this.loginName,
                            password: this.password,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆成功！");
                                });
                                window.location.href = "/user/index/userIndex.html";
                                $.cookie("token", result.data.token, {path: "/"});
                            } else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆失败！");
                                })
                            }
                        }
                    })
                }
            }
        }

    });
</script>
<!--展示圈子vm1-->
<script>
    var vm1 = new Vue({
        el: '#circle_rank',
        data:{
            nowTime:'',
            circleCount:'',
            circleList:[],
        },methods:{
            addZero(d){
                if (d < 10) {
                    return "0" + d;
                } else {
                    return d;
                }
            },setTime(){
                var d = new Date();
                vm1.nowTime = d.getFullYear() + "-" + vm1.addZero((d.getMonth() + 1)) + "-" + vm1.addZero(d.getDate()) + " "
                + vm1.addZero(d.getHours()) + ":" + vm1.addZero(d.getMinutes()) + ":" + vm1.addZero(d.getSeconds());
            },jumpCircle(id){
                $.cookie("circleId",id,{path: '/user/circle/circle.html'})
            }
        },created(){
            $.ajax({
                url:"/circle/showAllCircle",
                type:"post",
                success:function (result) {
                    if(result.code == 0){
                        vm1.circleList = result.data;
                    }
                }
            })
            $.ajax({
                url:"/circle/getAllCircle",
                type:"post",
                success:function (result) {
                    if(result.code == 0){
                        vm1.circleCount = result.count;
                    }
                }
            })
        }
    })
    setInterval("vm1.setTime()", 1000);
</script>
</body>
</html>