<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>进入圈子</title>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/at-ui/dist/at.js"></script>
    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/css/top.css">
    <link rel="stylesheet" href="../../node_modules/css/circle.css">
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
    <div id="app" class="row top-header">
        <div class="col-md-3 logo">
            <a href="#">
                <img src="../../node_modules/images/logo.png" class="img-up">
            </a>
        </div>
        <div class="col-md-9">
            <at-input v-model="inputValue4" placeholder="请输入内容" append-button class="top-search">
                <template slot="append">
                    <i class="icon icon-search"></i>
                </template>
            </at-input>
        </div>
        <div class="col-md-7 col-md-offset-5">
            <a href="/user/index/userIndex.html" class="top-font-size"><i class="icon icon-home"></i>首页</a>
            <a href="../../user/circle/circle.html" class="top-font-size"><i class="icon icon-aperture"></i>圈子</a>
            <a href="../../user/letter/session.html" class="top-font-size"><i class="icon icon-mail"></i>私信</a>
            <a href="../../user/user-center/personal.html" class="top-font-size"><i class="icon icon-user"></i>用户</a>
        </div>
    </div>

    <div id="mid-search" class="row search-margin">
        <div class="col-md-3"></div>
        <div class="col-md-3 logo">
            <a href="#">
                <img src="../../node_modules/images/logo.png" class="img-up">
            </a>
        </div>
        <div class="col-md-8">
            <at-input v-model="searchVal" placeholder="请输入内容" class="mid-search"></at-input>
        </div>
        <div class="col-md-2">
            <at-button type="info" hollow class="mid-search" title="圈内搜索">圈内搜索</at-button>
        </div>
        <div class="col-md-3 col-md-offset-2">
            <span class="span-mid" title="发现身边的事！">发现身边的事！</span>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div id="mid-title">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2 div-img">
                <img :src="circleItem.circleImgUrl" class="circle-header">
            </div>
            <div class="col-md-4">
                <h1 v-text="circleItem.circleName"></h1>
                <span class="span-item" v-cloak>帖子：{{circleItem.blogNum}}</span>
            </div>
            <div class="col-md-15"></div>
        </div>
        <div class="row title-margin">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                <span class="black-blue" v-cloak>&nbsp;&nbsp;&nbsp;圈子主题:{{circleItem.circleTitle}}</span>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <a href=""><span class="black-blue" v-cloak>创建人:{{circleItem.createName}}</span></a>
            </div>
            <div class="col-md-4">
                <span class="black-blue" v-cloak>创建时间:{{circleItem.createTime}}</span>
            </div>

            <div class="col-md-2">
                <a href="createCircle.html"><span class="all-circle">创建圈子 ></span></a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <div id="circle-content">
        <div class="row content-margin">
            <div class="col-md-3"></div>
            <div class="col-md-18">
                <div class="content-show" v-for="(item,i) in blogInfoList">
                    <!--         控制头           -->
                    <div class="row">
                        <div class="col-md-2 col-md-offset-1">
                            <a href="#" @click="jumpPagePerson(item.userId)"><img :src="item.avatarUrl" class="header-img"></a>
                        </div>
                        <div class="col-md-8">
                            <a href="#" @click="jumpPagePerson(item.userId)"><span v-text="item.userName" class="black blog-belonger"></span></a>
                        </div>
                        <div class="col-md-2 col-md-offset-11" v-if="item.isRepost == 0">
                            <at-tag color="success">原创</at-tag>
                        </div>
                        <div class="col-md-2 col-md-offset-11" v-if="item.isRepost == 1">
                            <at-tag color="info">转载</at-tag>
                        </div>
                    </div>
                    <!--        原创展示            -->
                    <div v-if="item.isRepost == 0">
                        <div class="row">
                            <div class="col-md-18 col-md-offset-3">
                                <span v-text="item.content" class="color#333"></span>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row" v-if="item.type == 2">
                            <div class="col-md-18 col-md-offset-3">
                                <video :src="item.resourceList[0]" controls="controls" width="100%" height="260px">您的浏览器不支持播放该视频！</video>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row" v-if="item.type == 1">
                            <div class="col-md-11 col-md-offset-3">
                                <div v-for="(urlList,i) in item.resourceList" class="show-img" >
                                    <img :src="urlList" class="all-img">
                                </div>
                            </div>
                            <div class="col-md-10"></div>
                        </div>
                    </div>
                    <!--      转载展示          -->

                    <div v-if="item.isRepost == 1">
                        <div class="row">
                            <div class="col-md-18 col-md-offset-3">
                                <span v-text="item.content" class="color#333"></span>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <!--    原帖展示    -->
                        <div v-if="item.blogInfo.isRepost == 0" class="row">
                            <div class="col-md-18 col-md-offset-3 trans-show">
                                <div class="row">
                                    <div class="col-md-2 col-md-offset-1">
                                        <img :src="item.blogInfo.avatarUrl" class="header-img">
                                    </div>
                                    <div class="col-md-7 col-md-offset-1">
                                        <a href="#"><span v-text="item.blogInfo.userName" class="black-blue blog-belonger"></span></a>
                                    </div>
                                    <div class="col-md-13"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-18 col-md-offset-3">
                                        <span v-text="item.blogInfo.content"></span>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="row" v-if="item.blogInfo.type == 2">
                                    <div class="col-md-18 col-md-offset-3">
                                        <video :src="item.blogInfo.resourceList[0]" controls="controls" width="100%" height="260px">您的浏览器不支持播放该视频！</video>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="row" v-if="item.blogInfo.type == 1">
                                    <div class="col-md-13 col-md-offset-2">
                                        <div v-for="(urlList,i) in item.blogInfo.resourceList" class="show-img" >
                                            <img :src="urlList" class="all-img">
                                        </div>
                                    </div>
                                    <div class="col-md-10"></div>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>

                    <!--    评论点赞相关 -->
                    <div class="row l-c-s">
                        <div class="col-md-5">
                            <a href="" class="icon icon-share a-font-20px" @click.prevent="showForward(i)">转发</a>
                        </div>
                        <div class="col-md-5">
                            <a href="" @click.prevent="showReview(i,item.blogId)" class="icon icon-edit a-font-20px" v-cloak>{{item.commentNum}}</a>
                        </div>
                        <div class="col-md-5">
                            <a href="" @click.prevent="like($event,item.blogId)" class="icon icon-thumbs-up a-font-20px" v-cloak>{{item.likeNum}}</a>
                        </div>
                        <div class="col-md-9">
                            <span class="font-16px" v-cloak>发布时间:{{item.createTime}}</span>
                        </div>
                    </div>
                    <div :class=['row','addForward',selected==i?'':'hidden']>
                        <div class="col-md-20 col-md-offset-1">
                            <input type="text" class="forwardInput" v-model="forwardInput">
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="forwardButton" value="转发" @click="forwardBlog($event,item.blogId)">
                        </div>
                    </div>
                    <div :class=['addForward',reviewed==i?'':'hidden']>
                        <div class="row">
                            <div class="col-md-20 col-md-offset-1">
                                <input type="text" class="forwardInput" v-model="forwardInput">
                            </div>
                            <div class="col-md-3">
                                <input type="button" class="forwardButton" value="发布评论" @click="reviedBlog($event,item.blogId)">
                            </div>
                        </div>

                        <div v-if="commentList != ''" style="border-top: 1px solid silver">
                            <div v-for="comment in commentList">
                                <div class="row">
                                    <div class="col-md-1 col-md-offset-1 commentShow">
                                        <img :src="comment.avatarUrl" class="commentHeader">
                                    </div>
                                    <div class="col-md-21 commentShow">
                                        <span class="black commenter" v-cloak>{{comment.userName}}:</span>
                                        <span class="color#333 commenter" v-text="comment.commentContent"></span>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-17 commentShow"></div>
                                    <div class="col-md-5 commentShow">
                                        <span v-text="comment.commentTime"></span>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div>
                        <div v-if="commentList == ''" class="row">
                            <div class="col-md-16 col-md-offset-8">
                                <span style="font-size: 18px">还没有人评论呢，快来评论吧！</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3"></div>
        </div>
    </div>


</div>
<script>
    new Vue({
        el: '#app',
        data: {
            inputValue4: ''
        }
    })
    var vm1 = new Vue({
        el: '#mid-search',
        data: {
            searchVal: '',
        }
    })

    var vm2 = new Vue({
        el: '#mid-title',
        data: {
            circleItem: {
            }
        },created(){
            $.ajax({
                url:"/circle/circleInfo",
                type:"post",
                dataType:"json",
                data:{
                  circleId : 1
                },
                success:function (result) {
                    if(result.code == 0){
                        vm2.circleItem = result.data;
                    }else {
                        alert(result.msg);
                    }
                }
            })
        }
    })

    var vm3 = new Vue({
        el: '#circle-content',
        data: {
            blogInfoList:[
            ],
            commentList:[
            ],
            pageNum: '1',
            size: '3',
            forwardInput:'',
            selected: 'll',
            reviewed:'ll'
        },methods:{
            add(){
                $.ajax({
                    url:"/circle/circleBlog",
                    type:"post",
                    data:{
                        circleId : 1,
                        page: this.pageNum,
                        size: this.size
                    },
                    success:function (result) {
                        if(result.code == 0){
                            for(i = 0;i<result.count;i++){
                                vm3.blogInfoList.push(result.data[i]);
                            }
                            vm3.pageNum = parseInt(vm3.pageNum)+1;
                        }
                    }
                })
            },
            showForward(i){
                if(this.selected != i) {
                    this.selected = i;
                    this.reviewed='ll';
                    this.forwardInput='';
                }else {
                    this.selected = 'lll';
                }
            },
            forwardBlog(e,blogId){
                $.ajax({
                    url:"/blog/forwardBlog",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        blogId:blogId,
                        forwardContent: this.forwardInput
                    },
                    success:function (result) {
                        if(result.code == 0){
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("转发成功");
                            })
                            vm3.selected = 'll';
                        }
                    },error:function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("请先登录!");
                        })
                        // window.location.href="../index/index.html";

                    }
                })
            },
            showReview(i,blogId){
                if(this.reviewed != i) {
                    this.reviewed = i;
                    this.forwardInput='';
                    this.selected = 'lll';
                    $.ajax({
                        url: "/blog/showComment",
                        type: "post",
                        data: {
                            blogId: blogId,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                vm3.commentList= result.data;
                            }
                        }
                    })
                }else {
                    this.reviewed = 'lll';
                }
            },
            reviedBlog(e,blogId){
                if(this.forwardInput == ''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入评论信息！");
                    })
                }else {
                    $.ajax({
                        url: "/blog/insertComment",
                        type: "post",
                        headers: {'token': $.cookie("token")},
                        data: {
                            blogId: blogId,
                            commentContent: this.forwardInput
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg("评论成功");
                                })
                                vm3.reviewed = 'lll';
                            }
                        },error:function () {
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg("请先登录");
                                // window.location.href="../index/index.html";
                            })
                        }
                    })
                }
            },
            like(e,blogId){
                $.ajax({
                    url:"/blog/insertLike",
                    type:"post",
                    headers:{'token':$.cookie("token")},
                    data:{
                        blogId:blogId
                    },
                    success:function (result) {
                        if(result.code == 0){
                            e.target.innerText = parseInt(e.target.innerText) + 1;
                            e.target.style.color = "blue";
                        }else {
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg(result.msg);
                            })
                            e.target.style.color = "blue";
                        }
                    },error:function () {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg("请先登录");
                            // window.location.href="../index/index.html";
                        })
                    }
                })
            },
            jumpPagePerson(userId){
                if ($.cookie('token') == null){
                    $.cookie("userId", userId, {path: '/user/user-center/personals.html'});
                    window.location.href="../user-center/personals.html";
                }else{
                    $.ajax({
                        url:"/test/testGetUserIdByToken",
                        type:"post",
                        headers:{'token':$.cookie("token")},
                        success:function (result) {
                            if(result.code == 0){
                               if(userId == result.data){
                                   window.location.href="../user-center/personal.html";
                               }else {
                                   $.cookie("userId", userId, {path: '/user/user-center/personals.html'});
                                   window.location.href="../user-center/personals.html";
                               }
                            }
                        }
                    })
                }
            }
        },created(){
            $.ajax({
                url:"/circle/circleBlog",
                type:"post",
                data:{
                    circleId : 1,
                    page: this.pageNum,
                    size: this.size
                },
                success:function (result) {
                    vm3.pageNum = '1';
                    if(result.code == 0){
                        vm3.blogInfoList = result.data;
                        vm3.pageNum = parseInt(vm3.pageNum)+1;
                    }
                }
            })

            window.onscroll = function(){
                //变量scrollTop是滚动条滚动时，距离顶部的距离
                var scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
                //变量windowHeight是可视区的高度
                var windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
                //变量scrollHeight是滚动条的总高度
                var scrollHeight = document.documentElement.scrollHeight||document.body.scrollHeight;
                //滚动条到底部的条件
                if(scrollTop+windowHeight==scrollHeight){
                    //写后台加载数据的函数
                    // console.log("距顶部"+scrollTop+"可视区高度"+windowHeight+"滚动条总高度"+scrollHeight);
                    vm3.add();
                }
            }
        }
    })


</script>
</body>
</html>