<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="../../node_modules/css/navbar.css">
    <link rel="stylesheet" href="../../node_modules/css/footer.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <script src="../../node_modules/bootstrap/js/bootstrap.js"></script>
    <script src="../../node_modules/at-ui/dist/at.js"></script>

    <link type="text/css" rel="stylesheet" href="../../node_modules/layui/css/layui.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../node_modules/css/register.css">
</head>

<body>
<!---------------导航条---------------->
<header id="circle_navbar">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar_c fixed-top">
            <div class="container-fluid">
                <!------------Logo图标------->
                <a class="navbar-brand col-xs-3 col-md-2" href="index.html">
                    <img src="../../node_modules/images/logo.png" class="img-fluid">
                </a>
                <!------------搜索框----------->
                <form class="form-inline input-group input-group-xs col-xs-8 col-md-4">
                    <input class="form-control" type="search" v-model="inputValue" placeholder="大家正在搜" aria-label="Search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" @click="searchBlog"><i class="zi zi_search"></i></span>
                    </div>
                </form>

                <!------------汉堡按钮------------>
                <button class="navbar-toggler col-xs-2 col-md-1 ml-5" type="button" data-toggle="collapse"
                        data-target="#circle_nav" aria-controls="circle_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width: 25px;margin-left: 5px;margin-right: 5px"></span>
                </button>

                <!------------六个导航按钮--------->
                <div class="collapse navbar-collapse col-lg-6" id="circle_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="userIndex.html"><i class="icon icon-home"></i>首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../circle/circleRank.html"><i class="icon icon-aperture"></i>圈子</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../letter/session.html"><i class="icon icon-mail"></i>私信</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../user-center/personal.html"><i class="icon icon-user"></i>用户</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="newRegister.html" target="_blank">注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModalT">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 导航条模态框 -->
        <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">账号登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mr-3 input-group d-flex align-items-center mb-2">
                            <i class="icon icon-user mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="text" placeholder="请输入账号" onclick="this.placeholder='' " v-model="loginName">
                        </div>
                        <div class="mr-3 input-group d-flex align-items-center mb-1">
                            <i class="icon icon-lock mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="password" placeholder="请输入密码" onclick="this.placeholder='' " v-model="password">
                        </div>
                        <a href="retrieve.html" target="_blank" class="d-flex flex-end">忘记密码？</a>
                        <button type="button" class="btn btn-block bg-info mt-2" @click="login">立即登录</button>

                        <div class="row ml-2">
                            <span style="font-size: 14px">还没有账号？<a href="newRegister.html" target="_blank" style="color: #c7254e">立刻注册</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid">-->
    <!--<iframe id="headerFrame" name="headerFrame" width="100%" src="../../navbar.html" frameborder="0" scrolling="no"></iframe>-->
    <!--</div>-->
</header>

<div id="foot">
    <div class="head">
        <img src="../../node_modules/images/logo.png" height="100%" width="100%"/>
    </div>

    <div id="contain"><br>
        <div class="line">
            <div class="wenzi">
                <a href="#"><h1>个人注册</h1></a>
            </div>
        </div><br><br>
        <div class="main row" style="margin-left: 13vh">
            <div class="col-md-5"></div>
            <div class="col-md-14">
                <div class="layui-form-item" style="width: 430px">
                    <at-input v-model="phoneNumber" size="large" placeholder="请输入11位手机号" prepend-button>
                        <template slot="prepend">
                            <span><i class="icon icon-smartphone"></i>您的手机</span>
                        </template>
                    </at-input>
                </div>
                <div class="layui-form-item" style="width: 430px">
                    <at-input v-model="password"   size="large"  type="password" placeholder="请输入您的密码" prepend-button>
                        <template slot="prepend">
                            <span><i class="icon icon-alert-triangle" ></i>设置密码</span>
                        </template>
                    </at-input>
                </div>
                <div class="layui-form-item">
                    <span style="border: 1px solid #C5D9E8;background-color: #f7f7f7;font-size:12px;color: #9B9B9B;padding: 6px 16px 8px 10px;border-radius: 3px 0 0 3px">
                        <img src="../../node_modules/images/cake.png" style="width: 12px">
                        生&nbsp;&nbsp;&nbsp;日
                    </span>
<!--                    <at-tag style="color: #9B9B9B;height: 30px;margin-right: 0">&ensp;&nbsp;&nbsp;生&nbsp;&nbsp;&nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;</at-tag>-->
                    <at-select v-model="birthYear" size="large" style="width: 80px" style="margin-top: 20px;padding: 0">
                        <at-option v-for="n in 2019" :value="n" v-text="n" v-if="n > 1980"></at-option>
                    </at-select>
                    <at-tag>年</at-tag>

                    <at-select v-model="birthMonth" size="large" style="width: 80px">
                        <at-option v-for="n in 12" :value="n" v-text="n" v-if="n < 13"></at-option>
                    </at-select>
                    <at-tag>月</at-tag>

                    <at-select v-model="birthDay" size="large" style="width: 80px">
                        <at-option v-for="n in 31" :value="n" v-text="n" v-if="n < 32"></at-option>
                    </at-select>
                    <at-tag>日</at-tag>

                </div>
                <div class="layui-form-item">



                </div>
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <at-input v-model="code"  size="large"  style="width: 200px"  placeholder="请输入内容"
                                  prepend-button>
                            <template slot="prepend">
                                <span><i class="icon icon-edit-2"></i>&nbsp;验证码&nbsp;&nbsp;</span>
                            </template>
                        </at-input>
                    </div>
                    <at-button type="info" hollow @click="sendMsg" style="margin-left: 10px;width: 220px">点击获取短信激活码</at-button>
<!--                    <at-button type="error" @click="sendMsg">收不到验证码？</at-button>--><br><br>
                    <div class="layui-input-inline">
                        <at-button @click="registerNow"  size="large" style="margin-left: 0;background-color:#397F7C;margin-top: 20px;width: 430px;font-size: 18px;color: white;">立即注册</at-button>
                    </div>
                </div>
                <div class="layui-form-item">

                </div>
            </div>
            <div class="col-md-5"></div>


        </div>
    </div>
</div>
<script>
    //导航条搜索登录功能
    let vm = new Vue({
        el: '#circle_navbar',
        data: {
            inputValue: '',
            loginName: '',
            password: ''
        },methods:{
            //搜索功能
            searchBlog(){
                if (this.inputValue==''){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("搜索不能为空");
                    })
                }else {
                    window.location.href = "/user/blog/blog.html?content=" + this.inputValue
                }
            },

            //登录
            login:function () {
                if (this.loginName==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机/用户名/邮箱！");
                    })
                }else if (this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入密码！");
                    })
                }else{
                    $.ajax({
                        url: "/userLogin/login",
                        type: "post",
                        data: {
                            loginName: this.loginName,
                            password: this.password,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆成功！");
                                });
                                window.location.href = "/user/index/userIndex.html";
                                $.cookie("token", result.data.token, {path: "/"});
                            } else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆失败！");
                                })
                            }
                        }
                    })
                }
            }
        }

    });
</script>
<script>
    var vm = new Vue({
        el: '#foot',
        data: {
            phoneNumber: '',
            userName: '',
            password: '',
            birthYear: "请选择",
            birthMonth: "请选择",
            birthDay: "请选择",
            code: '',
            resCode: '---res',
        }, methods: {
            sendMsg() {
                var reg = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
                if (this.phoneNumber == '') {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入手机号！");
                    })
                } else if (!reg.test(this.phoneNumber)) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入正确的手机号！");
                    })
                } else {
                    $.ajax({
                        url: "/userLogin/sendMsg",
                        type: "post",
                        data: {
                            phoneNumber: this.phoneNumber
                        },
                        success: function (result) {
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg("发送成功，注意接受短信！");
                            })
                            if (result.code == 0) {
                                vm.resCode = result.data;
                            }
                        }, error: function () {
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg("请求失败");
                            })
                        }
                    })
                }

            }, registerNow() {
                var regpas = /^(\w){6,16}$/;
                var regpho = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
                if (this.phoneNumber == '') {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入手机号！");
                    })
                } else if (!regpho.test(this.phoneNumber)) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入正确的手机号！");
                    })
                } else if (this.password == '') {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("密码不能为空");
                    })
                } else if (!regpas.test(this.password)) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入6-16位数字字母下划线组成的密码！");
                    })
                } else if (this.birthYear == '请选择' || this.birthDay == '请选择' || this.birthMonth == '请选择') {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请选择出生年月！");
                    })
                } else if (this.code != this.resCode) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入正确的验证码！");
                    })
                } else {
                    var birthday = this.birthYear + '-' + this.birthMonth + '-' + this.birthDay
                    $.ajax({
                        url: "/userLogin/registered",
                        type: "post",
                        data: {
                            phone: this.phoneNumber,
                            birthday: birthday,
                            password: this.password
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg("注册成功！马上去完善个人信息！");
                                })
                                $.cookie("token", result.data, {path: "/"});
                                window.location.href = "../letter/settingInfo.html";
                            } else {
                                layui.use('layer', function () {
                                    var layer = layui.layer;
                                    layer.msg(result.msg);
                                })
                            }
                        }, error: function () {
                            layui.use('layer', function () {
                                var layer = layui.layer;
                                layer.msg("请求失败");
                            })
                        }
                    })
                }
            }
        },
    })
</script>

</body>
</html>