<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/at-ui/dist/at.js"></script>
    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <link  type="text/css" rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link type="text/css" rel="stylesheet" href="../../node_modules/layui/css/layui.css" media="all">
    <link type="text/css" rel="stylesheet" href="../../node_modules/css/register.css">
    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>

</head>
<script>

</script>
<body>
<div  id="foot">
    <div class="head"></div>
    <div id="contain">
        <div class="line">
            <div class="wenzi">
                <a href="#">个人注册</a>
            </div>
        </div>
        <div class="main">
            <div class="reg-form">
                <div class="info-list">
                    <div class="tip">
                        <div class="tag">
                            <div class="icon icon-smartphone">&nbsp;&nbsp;手机:</div>
                        </div>
                    </div>
                    <div class="flag">
                        <div class="flag-1">
                            <input class="inputMsg" type="text" placeholder="请输入手机号码" v-model="phoneNumber">
                        </div>

                    </div>
                </div>
                <div class="pas">
                    <div class="tid">&nbsp;&nbsp;设置密码:</div>
                    <div class="pascenter">
                        <input  class="inputMsg" type="password" placeholder="请输入密码" v-model="password">
                    </div>
                </div>
                <div class="choose">
                    <div class="bir">&nbsp;&nbsp;生日:</div>
                    <select class="year" name="year" v-model="birthYear">
                        <option value="请选择" selected>请选择</option>
                        <option v-for="n in 2019" :value="n" v-text="n" v-if="n > 1900"></option>
                    </select>年
                    <select class="month" name="month" v-model="birthMonth">
                        <option value="请选择" selected>请选择</option>
                        <option v-for="n in 12" :value="n" v-text="n"></option>
                    </select>月
                    <select class="day" v-model="birthDay">
                        <option value="请选择" selected >请选择</option>
                        <option v-for="n in 31" :value="n" v-text="n"></option>
                    </select>日
                </div>
                <div class="actcode">
                    <div class="send">注册码:</div>
                    <button class="button" @click="sendMsg">免费获取短信激活码</button>
                    <input type="text" class="codeStyle" v-model="code">
                    <div class="fit" >
                        <input type="button" value=" 收不到验证码？" style="border: 0px" @click="sendMsg">
                    </div>
                </div>
                <div class="rejister">
                    <button @click="registerNow" class="registerNow">立即注册</button>
                </div>
            </div>
            <div class="right-item">
                <div class="login">
                    <div class="right-item1">
                        已有账号，
                        <a href="#" style="color: #1E9FFF">直接登陆>></a>
                    </div>
                    <div class="right-item2">圈圈注册帮助</div>
                    <div class="right-item3">
                        <a href="#" style="color: #1E9FFF" >1.&nbsp;&nbsp;注册帮助指南</a>
                    </div>
                    <div class="right-item3">
                        <a href="#" style="color: #1E9FFF" >2.&nbsp;&nbsp;账号已经注册怎么办？</a>
                    </div>
                    <div class="right-item3">
                        <a href="#" style="color: #1E9FFF" >3.&nbsp;&nbsp;注册时显示IP地址异常怎么办？</a>
                    </div>
                    <div class="right-item3">
                        <a href="#" style="color: #1E9FFF" >更多帮助>></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({
        el: '#foot',
        data:{
            phoneNumber:'',
            userName:'',
            password:'',
            birthYear:"请选择",
            birthMonth:"请选择",
            birthDay:"请选择",
            code:'',
            resCode:'---res',
        },methods:{
          sendMsg(){
              var reg = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
              if (this.phoneNumber==''){
                  layui.use('layer',function() {
                      var layer = layui.layer;
                      layer.msg("请输入手机号！");
                  })
              }else if (!reg.test(this.phoneNumber)){
                  layui.use('layer',function() {
                      var layer = layui.layer;
                      layer.msg("请输入正确的手机号！");
                  })
              }else {
                  $.ajax({
                      url: "/userLogin/sendMsg",
                      type: "post",
                      data: {
                          phoneNumber: this.phoneNumber
                      },
                      success: function (result) {
                          layui.use('layer',function() {
                              var layer = layui.layer;
                              layer.msg("发送成功，注意接受短信！");
                          })
                          if (result.code == 0) {
                              vm.resCode = result.data;
                          }
                      },error:function () {
                          layui.use('layer',function() {
                              var layer = layui.layer;
                              layer.msg("请求失败");
                          })
                      }
                  })
              }

          },registerNow(){
                var regpas = /^(\w){6,16}$/;
                var regpho = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
                if(this.phoneNumber ==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机号！");
                    })
                }else if (!regpho.test(this.phoneNumber)) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入正确的手机号！");
                    })
                } else if(this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("密码不能为空");
                    })
                } else if (!regpas.test(this.password)){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入6-16位数字字母下划线组成的密码！");
                    })
                }else if(this.birthYear == '请选择' || this.birthDay == '请选择' || this.birthMonth == '请选择'){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请选择出生年月！");
                    })
                } else if(this.code!=this.resCode){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入正确的验证码！");
                    })
                }else {
                    var birthday = this.birthYear+'-'+this.birthMonth+'-'+this.birthDay
                    $.ajax({
                        url: "/userLogin/registered",
                        type: "post",
                        data: {
                            phone: this.phoneNumber,
                            birthday: birthday,
                            password: this.password
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("注册成功！");
                                })
                                window.location.href = "../../index.html";
                            }else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg(result.msg);
                                })
                            }
                        },error:function () {
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("请求失败");
                            })
                        }
                    })
                }
            }
        },
    })
</script>

</body>
</html>