<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>注册</title>
    <link rel="stylesheet" href="../../node_modules/css/navbar.css">
    <link rel="stylesheet" href="../../node_modules/css/footer.css">
    <link rel="stylesheet" href="../../node_modules/css/register.css">
    <link rel="stylesheet" href="http://ico.z01.com/zico.min.css">
    <link rel="stylesheet" href="../../node_modules/at-ui-style/css/at.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon">

    <script src="../../node_modules/jQuery/jquery-3.4.1.min.js"></script>
    <script src="../../node_modules/vue/dist/vue.js"></script>
    <script src="../../node_modules/layui/layui.js"></script>
    <script src="../../node_modules/js/jquery-cookie.js"></script>
    <script src="../../node_modules/bootstrap/js/bootstrap.js"></script>

    <script src="../../node_modules/at-ui/dist/at.js"></script>
    <link type="text/css" rel="stylesheet" href="../../node_modules/layui/css/layui.css" media="all">

</head>
<script>

</script>
<body>
<!---------------导航条---------------->
<header id="circle_navbar">
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-white navbar_c fixed-top">
            <div class="container-fluid">
                <!------------Logo图标------->
                <a class="navbar-brand col-xs-3 col-md-2" href="index.html">
                    <img src="../../node_modules/images/logo.png" class="img-fluid">
                </a>
                <!------------搜索框----------->
                <form class="form-inline input-group input-group-xs col-xs-8 col-md-4">
                    <input class="form-control" type="search" v-model="inputValue" placeholder="大家正在搜" aria-label="Search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm" @click="searchBlog"><i class="zi zi_search"></i></span>
                    </div>
                </form>

                <!------------汉堡按钮------------>
                <button class="navbar-toggler col-xs-2 col-md-1 ml-5" type="button" data-toggle="collapse"
                        data-target="#circle_nav" aria-controls="circle_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" style="width: 25px;margin-left: 5px;margin-right: 5px"></span>
                </button>

                <!------------六个导航按钮--------->
                <div class="collapse navbar-collapse col-lg-6" id="circle_nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="userIndex.html"><i class="icon icon-home"></i>首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../circle/circleRank.html"><i class="icon icon-aperture"></i>圈子</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../letter/session.html"><i class="icon icon-mail"></i>私信</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../user-center/personal.html"><i class="icon icon-user"></i>用户</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="newRegister.html" target="_blank">注册</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModalT">登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- 导航条模态框 -->
        <div class="modal fade" id="exampleModalT" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">账号登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="mr-3 input-group d-flex align-items-center mb-2">
                            <i class="icon icon-user mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="text" placeholder="请输入账号" onclick="this.placeholder='' " v-model="loginName">
                        </div>
                        <div class="mr-3 input-group d-flex align-items-center mb-1">
                            <i class="icon icon-lock mr-3" style="font-size: 25px"></i>
                            <input class="form-control" type="password" placeholder="请输入密码" onclick="this.placeholder='' " v-model="password">
                        </div>
                        <a href="retrieve.html" target="_blank" class="d-flex flex-end">忘记密码？</a>
                        <button type="button" class="btn btn-block bg-info mt-2" @click="login">立即登录</button>

                        <div class="row ml-2">
                            <span style="font-size: 14px">还没有账号？<a href="newRegister.html" target="_blank" style="color: #c7254e">立刻注册</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container-fluid">-->
    <!--<iframe id="headerFrame" name="headerFrame" width="100%" src="../../navbar.html" frameborder="0" scrolling="no"></iframe>-->
    <!--</div>-->
</header>

<div  id="foot">
    <div class="head" >
        <img src="../../node_modules/images/logo.png" height="100%" width="100%"/>
    </div>
    <div id="contain">
        <div class="line">
            <div class="wenzi">
                <a href="#">个人注册</a>
            </div>
        </div>
        <div class="main">
            <div class="reg-form">
                <div class="info-list">
                    <div class="tip">
                        <div class="tag">
                            <div class="icon icon-smartphone">&nbsp;&nbsp;手机:</div>
                        </div>
                    </div>
                    <div class="flag">
                        <div class="flag-1">
<!--                            <input class="inputMsg" type="text" placeholder="请输入手机号码" v-model="phoneNumber">-->
                            <at-input class="inputMsg" type="text" placeholder="请输入手机号码" v-model="phoneNumber" size="small" blur="this.placeholder=''"></at-input>
                        </div>
                    </div>
                </div>
                <div class="pas">
                    <div class="tid">&nbsp;&nbsp;设置密码:</div>
                    <div class="pascenter">
<!--                        <input  class="inputMsg" type="password" placeholder="请输入密码" v-model="password">-->
                        <at-input class="inputMsg" type="password" placeholder="请输入密码" v-model="password" size="small" onclick="this.placeholder=''"></at-input>
                    </div>
                </div>
                <div class="choose">
                    <div class="bir">&nbsp;&nbsp;生日:</div>


                    <select class="year" name="year" v-model="birthYear">
                        <option value="请选择" selected>请选择</option>
                        <option v-for="n in 2019" :value="n" v-text="n" v-if="n > 1900"></option>
                    </select>
<!--                    <at-dropdown>-->
<!--                        <at-button size="small">年<i class="icon icon-chevron-down" style="width: 90px"></i></at-button>-->
<!--                        <at-dropdown-menu slot="menu">-->
<!--                            <at-dropdown-item v-for="n in  2019":name="n" v-text="n" v-if="n>1900"></at-dropdown-item>-->
<!--                        </at-dropdown-menu>-->
<!--                    </at-dropdown>-->


                    年
                    <select class="month" name="month" v-model="birthMonth">
                        <option value="请选择" selected>请选择</option>
                        <option v-for="n in 12" :value="n" v-text="n"></option>
                    </select>月
                    <select class="day" v-model="birthDay">
                        <option value="请选择" selected >请选择</option>
                        <option v-for="n in 31" :value="n" v-text="n"></option>
                    </select>日
                </div>
                <div class="actcode">
                    <div class="send">注册码:</div>
                    <button class="button" @click="sendMsg">免费获取短信激活码</button>
<!--                    <input type="text" class="codeStyle" v-model="code">-->
                    <at-input class="codeStyle" type="text"  v-model="code" ></at-input>


                    <div class="fit" >
                        <input type="button" value=" 收不到验证码？" style="border: 0px;background-color:  #f1f1f1" @click="sendMsg">
                    </div>

                </div>
                <div class="rejister">
                    <button @click="registerNow" class="registerNow">立即注册</button>
                </div>
            </div>
            <div class="right-item">
                <div class="login">
                    <div class="right-item1">
                        已有账号，
                        <a href="index.html" style="color: #1E9FFF">直接登陆>></a>
                    </div>
                    <div class="right-item2">圈圈注册帮助</div>
                    <div class="right-item3">
                        <a href="#" style="color: #1E9FFF" >1.&nbsp;&nbsp;注册帮助指南</a>
                    </div>
                    <div class="right-item3">
                        <a href="#" style="color: #1E9FFF" >2.&nbsp;&nbsp;账号已经注册怎么办？</a>
                    </div>
                    <div class="right-item3">
                        <a href="#" style="color: #1E9FFF" >3.&nbsp;&nbsp;注册时显示IP地址异常怎么办？</a>
                    </div>
                    <div class="right-item3">
                        <a href="#" style="color: #1E9FFF" >更多帮助>></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //导航条搜索登录功能
    let vm = new Vue({
        el: '#circle_navbar',
        data: {
            inputValue: '',
            loginName: '',
            password: ''
        },methods:{
            //搜索功能
            searchBlog(){
                if (this.inputValue==''){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("搜索不能为空");
                    })
                }else {
                    window.location.href = "/user/blog/blog.html?content=" + this.inputValue
                }
            },

            //登录
            login:function () {
                if (this.loginName==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机/用户名/邮箱！");
                    })
                }else if (this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入密码！");
                    })
                }else{
                    $.ajax({
                        url: "/userLogin/login",
                        type: "post",
                        data: {
                            loginName: this.loginName,
                            password: this.password,
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆成功！");
                                });
                                window.location.href = "/user/index/userIndex.html";
                                $.cookie("token", result.data.token, {path: "/"});
                            } else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("登陆失败！");
                                })
                            }
                        }
                    })
                }
            }
        }

    });
</script>
<script>
    var vm = new Vue({
        el: '#foot',
        data:{
            phoneNumber:'',
            userName:'',
            password:'',
            birthYear:"请选择",
            birthMonth:"请选择",
            birthDay:"请选择",
            code:'',
            resCode:'---res',
        },methods:{
          sendMsg(){
              var reg = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
              if (this.phoneNumber==''){
                  layui.use('layer',function() {
                      var layer = layui.layer;
                      layer.msg("请输入手机号！");
                  })
              }else if (!reg.test(this.phoneNumber)){
                  layui.use('layer',function() {
                      var layer = layui.layer;
                      layer.msg("请输入正确的手机号！");
                  })
              }else {
                  $.ajax({
                      url: "/userLogin/sendMsg",
                      type: "post",
                      data: {
                          phoneNumber: this.phoneNumber
                      },
                      success: function (result) {
                          layui.use('layer',function() {
                              var layer = layui.layer;
                              layer.msg("发送成功，注意接受短信！");
                          })
                          if (result.code == 0) {
                              vm.resCode = result.data;
                          }
                      },error:function () {
                          layui.use('layer',function() {
                              var layer = layui.layer;
                              layer.msg("请求失败");
                          })
                      }
                  })
              }

          },registerNow(){
                var regpas = /^(\w){6,16}$/;
                var regpho = /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/;
                if(this.phoneNumber ==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入手机号！");
                    })
                }else if (!regpho.test(this.phoneNumber)) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入正确的手机号！");
                    })
                } else if(this.password==''){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("密码不能为空");
                    })
                } else if (!regpas.test(this.password)){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请输入6-16位数字字母下划线组成的密码！");
                    })
                }else if(this.birthYear == '请选择' || this.birthDay == '请选择' || this.birthMonth == '请选择'){
                    layui.use('layer',function() {
                        var layer = layui.layer;
                        layer.msg("请选择出生年月！");
                    })
                } else if(this.code!=this.resCode){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请输入正确的验证码！");
                    })
                }else {
                    var birthday = this.birthYear+'-'+this.birthMonth+'-'+this.birthDay
                    $.ajax({
                        url: "/userLogin/registered",
                        type: "post",
                        data: {
                            phone: this.phoneNumber,
                            birthday: birthday,
                            password: this.password
                        },
                        success: function (result) {
                            if (result.code == 0) {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg("注册成功！");
                                })
                                window.location.href = "index.html";
                            }else {
                                layui.use('layer',function() {
                                    var layer = layui.layer;
                                    layer.msg(result.msg);
                                })
                            }
                        },error:function () {
                            layui.use('layer',function() {
                                var layer = layui.layer;
                                layer.msg("请求失败");
                            })
                        }
                    })
                }
            }
        },
    })
</script>

</body>
</html>
